[2017-06-20 14:31] #352 closed

[2017-06-20 14:47] remi-stripe commented on #354
@JoysonAnto This repository is here to discuss issues with the Stripe-node library for Node.js developers. This is unrelated to your code which uses Checkout and PHP. The issue here is that you're mixing a Charge creation with a really old version of our SDK (before February 2015) and Source creation.

None of this would work unfortunately and you'll need to upgrade your PHP library for Stripe to

[2017-06-20 14:47] #354 closed

[2017-06-21 18:39] andrewnelder opened #355 "Arguments are not getting URLEncoded"
It looks like arguments are not getting urlencoded, meaning setting things like `receipt_email` on the Create a Charge [1] API Endpoint will actually break if you pass in an email with a `+` symbol.

I ~think the issue is here, but I've not had a lot of time to dig into where it is with absolute certainty:
https://github.com/stripe/stripe-node/blob/ee3e1077295d69ab19f19e032f4fe93c0595d511/lib/util

[2017-06-22 11:51] ob-stripe commented on #355
That's weird -- [qs](https://github.com/ljharb/qs) should take care of URL-encoding the parameters, e.g.:

[code]

I was also able to create a charge like this:
[code]
and the email address was correctly decoded on the API's end.

Happy to investigate this further with you -- ping me :)

[2017-06-23 20:53] mcrider opened #356 "Problem parsing body: No signatures found matching the expected signature for payload"
I'm using AWS API Gateway/Lambda which passes the request body as an actual JSON object to my Lambda function, where I am calling `stripe.webhooks.constructEvent` on it.  It seems this function expects the payload to be stringified JSON, so I run `JSON.stringify` on the request body, but this fails to sign (I'm guessing because JSON.stringify subtly changes what the JSON string would look like com

[2017-06-25 11:47] itai-codefresh commented on #356
actually from the documentation you need to pass the buffered body content.
but i am having the same trouble, using exactly the documented solution.
it doesn't work. i also tried to look at the inner code that performs the validation and i don't see what is the problem. maybe a different hash function that stripe is using than node

[2017-06-26 18:43] jlomas-stripe commented on #356
You need to pass in the _exact_ raw text body that was received from Stripe, rather than a re-`stringify`'d version of it.

@mcrider I'm not super familiar with Lambda, but I think you want to do something like this: `"body": "$input.body"`: http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#input-variable-reference

@itai-codefresh If you're us

[2017-06-27 13:56] itai-codefresh commented on #356
you are right @jlomas-stripe it was my bad

[2017-06-27 14:08] mcrider commented on #356
Thanks guys -- Its a little tricky getting the raw body to your Lambda function but I understand why its necessary!  I'll go ahead and close this.

[2017-06-27 14:08] #356 closed

[2017-06-27 16:04] jlomas-stripe commented on #356
@itai-codefresh No worries - it's a bit tricky, and my initial examples caused some fun `body-parser` collisions so it's fun, fun stuff. :)

@mcrider Awesome.  It'd be awesome if you can drop by and leave your solution once you find one! :)

[2017-06-27 17:16] #355 closed

[2017-06-28 13:22] mcrider commented on #356
Figured it out!

- In the AWS admin, go to your API gateway endpoint for your webhook, then go to the integration request.
- Open the Body Mapping Templates section then select application/json -- Scroll down and you'll see your body mapping template
- Add this line: `"rawbody": "$util.escapeJavaScript($input.body)",`
- I'm using Serverless, and needed to redeploy my whole stack.  You'll have to d

[2017-06-28 21:12] jlomas-stripe commented on #356
@mcrider Awesome. :)  Just so you're aware, it sounds like `$util.escapeJavaScript()` might [misbehave for certain characters](https://forums.aws.amazon.com/thread.jspa?threadID=228917) so you may just want to consider doing `"rawbody": "$input.body",` instead; if `escapeJavaScript()` does happen to actually escape something, the signature of the (escaped) body won't match, so `constructEvent()` w

[2017-06-28 21:19] mcrider commented on #356
I definitely tried, but I got fatal errors when I called the endpoint (I guess because the unescaped strings would make the JSON sent to the lambda function invalid). Maybe I should just replace quote characters with escaped quotes instead of doing a full escape as suggested in that thread. But futzing with this is a PIA and I'm going to put this on the backburner for now :)

[2017-07-04 17:09] alexcasalboni commented on #356
@mcrider I thought the LAMBDA_PROXY integration would always include the raw body. Isn't `event.body` enough? I'm experiencing the same issue (I'm also using the Serverless Framework). Did you actually change the LAMBDA_PROXY integration?

[2017-07-04 17:54] mcrider commented on #356
I think this is really a YMMV situation, but I am not using Lambda Proxy integration.  I realized that the Serverless framework, at least how I had it configured, passes along a body mapping template (as it should, you don't want to have to set this sort of thing in the AWS console where its not easily repeatable), so I was having a weird interaction of how Serverless configured the API gateway an

[2017-07-04 18:11] alexcasalboni commented on #356
What version of the Serverless Framework are you using? The latest version
should use proxy integration by default.

On Jul 4, 2017 7:54 PM, "Matt Crider" <notifications@github.com> wrote:

[2017-07-04 18:14] mcrider commented on #356
1.0.3, so fairly old.

[2017-07-04 19:07] alexcasalboni commented on #356
Yeah, that version is [9 months old](https://github.com/serverless/serverless/tree/v1.0.3) :)

I'd recommend migrating to the latest stable version (1.16.1), although it looks like I am experiencing a similar problem with v1.15.0!

[2017-07-06 19:34] kire73 commented on #232
Different issue, same topic. Please let me know if I should post somewhere else.

I use the metadata fields to store information about subscriptions that are created with existing plans through the API. When retrieving charges, I match the metadata, which works well for all charges except subscription charges. I assign the metadata when creating the subscription, but the plan has none since it var

[2017-07-06 19:37] remi-stripe commented on #232
@kire73 Those questions are better for our support team. You can contact them [here](https://support.stripe.com/email). The issues on this repo are here to report bugs with the library itself.

While I'm here though, there's no way to automatically put the subscription's metadata on the charge. You can either [expand](https://stripe.com/docs/api#expanding_objects) the subscription details from the

[2017-07-07 10:00] murvinlai commented on #331
I'm having the same problem.  I have latest Stripe (4.23.1) and Body-praser (1.17.2),.  the request.rawBody is Empty.
and the request.body show something weird in data.object:

`
data:
   { object:
      {
        object: 'invoice',
        amount_due: 0,
        forgiven: false,
        lines: [Object],
`

lines is [Object] ?

[2017-07-12 02:23] tim-field commented on #331
I was also seeing this.
In my code I was using bodyParser before handling off to stripe, this seems to have caused it.

[code]

Solution was to remove the bodyParser functions here in my main route, moving these into modules with `use`. Each module can now set its own bodyParser requirements.

`app.use('/stripe', stripeWebhooks)`

[2017-07-12 04:35] murvinlai commented on #331
I fixed that in my code.  The problem is that I didn't follow the instruction and using wrong bodyParser format:

It should be:
app.use(require("body-parser").raw({type: "*/*"}));

once change that, it works for me.
In addition, instead of app.use() and define as global for all routes.  I just use the bodyParser as middleware so I can have different bodyParser for different route.

[2017-07-12 22:27] atomdmac commented on #331
Rather than modifying application code, would it make more sense to allow the `constructEvent` method to accept either raw JSON _or_ an Object?

[2017-07-12 22:35] remi-stripe commented on #331
@atomdmac Unfortunately, that's not possible. The signature is calculated based on the raw JSON that we send you. If you parse it in your system you can not easily get back to the exact same string which would be required to compare the signatures. That's why it's important that your code sends the exact raw string that we sent you.

[2017-07-12 23:09] atomdmac commented on #331
@remi-stripe Thanks for your reply!  I was actually _just_ struggling to figure out why my payloads weren't validating when I converted them back to a string with `JSON.stringify()`.

[2017-07-13 04:31] ricklove commented on #296
Following @RP-3 initial suggestion worked well.

I just created a file called stripe.ts:

[code]

Then I can import like normal:
[code]

I do this with most external dependencies so I can hack the import and fix typings when needed.

At least this will work until an official solution is found.

[2017-07-13 15:57] shawnostler opened #359 "TypeError: Path must be a string. Received undefined when trying to create a customer"
I am receiving this error and trace:

[code]

When I am running this code:

[code]
I am use node v6.10.3 and stripe-node v4.23.1

I cannot seem to fix this or find any other reporting of the problem. Anyone have any ideas?

[2017-07-13 16:38] shawnostler commented on #359
Sorry, spelling error. "idempotency_key" not "idempentency_key". Not a bug.

[2017-07-13 16:38] #359 closed

[2017-07-14 14:46] stokesbga opened #360 "/oauth/token for connect endpoint?"
I cant find a method for the /oauth/token endpoint - specifically for getting an account ID for Connect. https://stripe.com/docs/connect/express-accounts

[2017-07-14 14:53] remi-stripe commented on #360
@stokesbga  We don't have such methods in the Node library yet. We'd love a PR if you are open to implement this. Otherwise, you'll need to make the HTTP request yourself as documented [here](https://stripe.com/docs/connect/sample-oauth-apps)

[2017-07-14 14:53] #360 closed

[2017-07-14 15:02] stokesbga commented on #360
Ok cool, thanks! Im just making my way through connect docs now, so I'll try to expand my understanding before I PR.

[2017-07-15 16:08] mattxgreen commented on #331
I struggled with this for sometime with a FirebaseFunctions backend. This issue helped me diagnose, so I'lll post this for anyone else who stumbles in here with the same issue. Firebase functions does not currently have a way to access unparsed JSON body https://issuetracker.google.com/issues/36252545

Anyone got a workaround?

[2017-07-20 18:01] jacksaunders opened #361 "stripe.customers.createSource returns "401 Invalid API Key provided""
For some reason, the createSource API is returning this error

[code]

The token is generated from stripe checkout, and both API keys work fine when creating customer, viewing plans, creating subscriptions,  however createSource seems to throw up that error and is the only endpoint that seems to do this.

my code that i am using to test

[code]

[2017-07-20 23:13] remi-stripe commented on #361
@jacksaunders If you run this code with our documentation's default API key you can confirm it just works as expected:

[code]

[2017-07-20 23:13] #361 closed

[2017-07-21 08:15] jpike88 opened #362 "Rate limiter"
This really should have a built in rate limiter function.

[2017-07-21 12:30] remi-stripe commented on #362
@jpike88 Would you mind providing a bit more details around what you expect to see in the library exactly? I'm not sure I understand how you would see the feature work in that case.

[2017-07-24 06:43] jpike88 commented on #362
Stripe presumably has a rate limiter on their API... it's not clear in their documentation what that would be, or if it's even low enough to ever be a concern, but this library should probably have some sort of default rate which is considered 'respectful' to the API, so tests via this library that burst huge amounts of test calls etc don't accidentally trigger problems.

[2017-07-24 14:27] remi-stripe commented on #362
@jpike88 Our rate limits are not binary and depends on the activity in your account and what else your integration is doing at the same time. This is not something we can really add to the library as there's no "connection pool" or similar for requests.

We recommend that your integration catches rate limit errors and, if that happens, reduces the frequency of your requests. Each failed request is

[2017-07-24 14:27] #362 closed

[2017-07-31 22:39] jlomas-stripe commented on #331
@mattxgreen As mentioned in the Google issue there, there's unfortunately no way to do this at present, so I don't think you'll be able to use Webhook Signature verification with Stripe Webhooks until there's a way to get at the raw body there.

[2017-08-01 10:15] inversion opened #364 "Feature Request: Request & Response logging"
I'd like to propose adding a way of hooking into request and response events so they can logged. My use-case is for post-mortem of failed requests and general analysis. I find the dashboard's Logs view rather lacking (one has to advance through it page-by-page, it's slow, and search by request ID doesn't seem to be implemented).

I could add a separate wrapper around the stripe API functions to do

[2017-08-01 20:08] brandur-stripe commented on #364
Hi @inversion,

One thing we're interested in doing is adding a request logging facility to our various libraries including this one. Currently [it's only implemented in stripe-python](https://github.com/stripe/stripe-python/pull/269/files), but it's really just a matter of porting the conventions over to here.

This is a little different than what you're suggesting though in that the logging form

[2017-08-01 20:59] jlomas-stripe commented on #364
I don't know if/how this fits with the approach we're using here (or if it's still relevant in 2017 😂) but it's an approach I've used a bunch - and quite like, since it creates a loosely coupled way of handling this:

I wonder if it might be worth emitting some events - say `request`, `response`, `error`? - on the `stripe` instance object that could be listened to for ... whatever purpose one want

[2017-08-02 11:54] inversion commented on #364
I think either approach could work well, but with the logger method it would be preferable if we could avoid a need to scrape JSON out of human-readable strings.

[2017-08-02 22:04] brandur-stripe commented on #364
Yeah, that might make sense. I'm working on implementing `STRIPE_LOG` for stripe-ruby right now, and I'll see if I can work this in to have the two features work in relative harmony.

[2017-08-02 23:38] jlomas-stripe commented on #364
I've got a first-run at adding the emitter stuff, and of course the first question that comes up is this:

I'm not sure the raw `http` `request` object quite makes sense - but maybe?  I mean, that's what you'd find in an Express route, for example.  Alternatively, we could just ... figure out what's relevant and compose an object that includes that stuff, I guess?

@brandur-stripe What kinds of th

[2017-08-02 23:54] brandur-stripe commented on #364
@jlomas-stripe Check this out:
https://github.com/stripe/stripe-ruby/pull/566

Request logging looks something like this:

[code]

And response:

[code]

I'd be in favor of minimizing the interface to just these sorts of specific fields (rather than sending a raw HTTP response) because it would get people 99% of what they need and give us a little more flexibility down the road.

[2017-08-03 18:40] jlomas-stripe commented on #364
Sweet.  I can totally duplicate that.  And I think that makes sense to me.

Is that what we're standardizing on in terms of logging content (and that will eventually live in all the libraries)?

[2017-08-03 20:54] jlomas-stripe commented on #364
@brandur ...Should those include the `stripe_account` if it was provided as well?

[2017-08-03 21:07] brandur-stripe commented on #364
Yeah, I think that this is a good start in terms of what fields to standardize on (although we're nowhere near that yet of course :).

Yep, great idea. I called it just `account` in stripe-ruby, but have added that in #568. I'll add this and `num_retries` into the code snippets above.

[2017-08-03 21:23] jlomas-stripe commented on #364
Awesome.  I'll retitle it to `account`.

...and ... something something `num_retries`. ¯\_(ツ)_/¯ :joy:

[2017-08-03 22:42] jlomas-stripe opened #367 "`jscs` ded. Can we replace it?"
Per [this](https://medium.com/@markelog/jscs-end-of-the-line-bc9bf0b3fdb2#.3qrw9jwnz), jscs is no more.  And ... I end up with a 'JavaScript heap out of memory' error every time I try to run it locally...

Can we move to ESLint?

[2017-08-04 00:40] brandur-stripe commented on #367
Yep, make sense to me.

[2017-08-04 15:12] jlomas-stripe commented on #367
\o/

Ok, I will take a run at it.  Thanks! :)

[2017-08-04 16:50] jlomas-stripe commented on #367
Welp, I don't think that's going to work.  [stripe/eslint-config-stripe](https://github.com/stripe/eslint-config-stripe) is a thing, but it seems to be all ES6y and meant for / coupled with React - i.e., includes some React/JSX-specific dependencies, which definitely don't need to be included in this repo just to get ESLint working.

It would be good to move this repo towards using ESLint, but I'm

[2017-08-10 22:43] jlomas-stripe commented on #364
@inversion You can now `stripe.on('request', onRequest);` and `stripe.on('response', onResponse);` in [4.24.0](https://github.com/stripe/stripe-node/releases/tag/v4.24.0).  Just FYI. :)

[2017-08-10 22:43] #364 closed

[2017-08-15 18:50] joaoreynolds commented on #341
I'm pulling my hair out and could really use some insight. I've tried all methods mentioned above (using bodyParser.raw, using the `addRawBody` middleware).

Note: this is an event for a connected account, I need to handle the `account.application.deauthorized` event. Not sure if the fact that it's a connected account has anything to do with it.

I'm using the latest stripe package `v4.24.0`

Here

[2017-08-15 19:01] jlomas-stripe commented on #341
@joaoreynolds If you use the 'simple middleware' from the example, and use `request.rawBody` (instead of `req.body.toString()`), does that work?

[2017-08-15 19:53] joaoreynolds commented on #341
*epic facepalm

I just thought, "know what? I better check my webhook secret key even though I'm sure I have that set".

#### I had the wrong effing webhook secret key stored in my production environment variables!

(That moment when you realize you're a terrible developer and nobody should hire you, haha)

Thanks @jlomas-stripe for being willing to help.

In an effort to be somewhat productive to

[2017-08-15 20:42] jlomas-stripe commented on #341
You're very welcome - any time! :)

[2017-08-16 19:34] dnuske opened #369 "stripe.customers.createSource readme example returns not supported source error"
in the readme there is the following example:

[code]
When running it, returns the following error:
`{ Error: 'card[object Object]source[exp_month]=10[object Object]source[exp_year]=2018[object Object]source[number]=4242 4242 4242 4242[object Object]source[cvc]=100' is not a supported source object.`

[2017-08-16 21:12] remi-stripe commented on #369
@dnuske I tried that exact example on my end with the latest node library and it just works as expected.

Can you confirm which version of Node.js and stripe-node you're using? Can you also give us a bit more details about how you're running this code? It looks like there's some issue with the data you're sending that triggers the `source` parameter to not be sent as a hash potentially?

[2017-08-19 06:56] rvasoya opened #370 "How to use stripe in vue?"
I'm having trouble in using charge.
I've successfully generated token with stripe.createToken() which return me token.id.
Now when i try using charge.create() it return not a function.

when i use  "import stripe from 'stripe' "i get the error "child_process in ./~/stripe/lib/stripe.js"

[2017-08-19 19:32] remi-stripe commented on #370
@rvasoya This library works on your server not in the browser. You need to install stripe-node on your server if you want the ability to use this library.

You can read more about how charging through Stripe works here: https://stripe.com/docs/tutorials/charges

If you have follow-up questions, I'd recommend chatting with our support team here: https://support.stripe.com/email

[2017-08-19 19:32] #370 closed

[2017-08-22 03:32] msteckyefantis opened #372 "Cannot unset personal_id_number in updating managed account in Canada"
API version: 2017-06-05
node stripe version:  4.22.0

updating stripe custom connect account with the following parameters:
[code]

returns this error:

[code]

but [in the documentation it says](https://stripe.com/docs/api#update_account-legal_entity-personal_id_number):
[code]

Is this is a bug? Because I don't see that I'm doing anything wrong. When I'm setting the value using a tokenized SIN n

[2017-08-22 12:43] remi-stripe commented on #372
@msteckyefantis Unfortunately the docs are incorrect and you can not unset this value. I'll raise to our docs team to make sure this gets fixed.

[2017-08-22 12:43] #372 closed

[2017-08-22 14:40] BenBestmann opened #373 "Limit parameter in list calls with api key not working"
When using `.list()` with the `api_key` option it seems that the `limit` parameter is being ignored.

For example `stripe.subscriptions.list({ limit: 100, api_key: 'sk_XXX' }, cb)` will always return 10 subscription items in the data object of the callbacks response.

When I set the key using `const stripe = require('stripe')('sk_XXX')` the call works just fine and returns the desired 100 items.

[2017-08-22 14:47] remi-stripe commented on #373
@BenBestmann If you want to pass a specific API key and extra parameters you need to separate the two. The code would be
[code]

[2017-08-22 14:47] #373 closed

[2017-08-22 15:16] jlomas-stripe opened #375 "Bad `options` keys; should we throw?"
A question that came to mind as a result of #374, where I sent in `api_version` instead of `stripe_version` and it didn't surface until the `latest` API Version was bumped (and my set test value no longer matched `latest`):

Should we be throwing if we see something in the `options` that doesn't belong?

[2017-08-22 15:20] msteckyefantis commented on #372
@remi-stripe Okay thank you for clarifying how this works.👍🏿👍🏻👍🏽

[2017-08-22 20:26] brandur-stripe commented on #375
We did something a little similar in Ruby where we whitelist known options so that we could warn people when they accidentally put them in the parameters hash instead of the options hash:

https://github.com/stripe/stripe-ruby/pull/545

This pattern helps insulate users from dumb mistakes that take time to debug and I like it. +1 to doing something like what you suggest.

One note is that we ended

[2017-08-22 20:30] brandur-stripe commented on #375
And oops, I'm reading my inbox backwards and just saw #306 which is very similar to the stripe-ruby issue I linked.

[2017-08-22 20:43] jlomas-stripe commented on #375
No worries.  #306 is actually just "throw if you combine args and options", as we currently just ignore the args if you combine them - so it's a bit different.

I am 100% onside with warning via console or equivalent instead of throwing.  Currently thinking of implementing this using [`process.emitWarning()`](https://nodejs.org/docs/v6.0.0/api/process.html#process_process_emitwarning_warning_name_

[2017-08-22 20:44] brandur-stripe commented on #375
Yep, that sounds good to me.

[2017-08-28 12:58] okasha93 commented on #139
just put stripe script `<script src="https://js.stripe.com/v3/"></script>` on the head of your **index.html** page

[2017-08-31 05:00] msteckyefantis opened #377 "Cannot unset identity document when updating connected accounts"
**Check out #372 first,**
this is pretty much it is the same issue as #372 except the same thing is happening for the verification document. I am wondering if it is for the same reason, because the documentation is incorrect? Or if I am making a mistake?

### The situation I'm facing👷🏿👷🏻👷🏽:

When I have a request body to update a stripe custom connected account like this:
[code]

you get the follo

[2017-08-31 12:14] remi-stripe commented on #377
@msteckyefantis it's a similar limitation. At the moment the documentation is incorrect and I'll work with the team on fixing it!

[2017-08-31 12:14] #377 closed

[2017-08-31 16:45] msteckyefantis commented on #377
@remi-stripe Okay thanks for getting back to me!

[2017-09-07 14:48] AdriVanHoudt commented on #367
@jlomas-stripe try `eslint --init` ;)

[2017-09-08 16:35] sunlee-newyork commented on #356
Hi, what solution can I use for node (Meteor) and DigitalOcean?

I'm getting the request body as a Buffer:
[code]
I am using a middleware called Picker that uses body-parser, so I am initializing as suggested in the Stripe doc:
[code]
But I am getting the same `Error: No signatures found matching the expected signature for payload` message.

[2017-09-08 19:20] Bonitis opened #381 "Retrieve upcoming invoice with stripe_account returns error"
I'm trying to retrieve the upcoming invoice for a customer of a connected account. My api call is set up like this:

[code]

I'm getting the following error back:

[code]

Am I structuring this wrong? How should I include the `stripe_account` parameter in a request for a customer's upcoming invoice?

[2017-09-08 20:57] remi-stripe commented on #381
@Bonitis The `stripe_account` always goes into a second hash while the first one would contain the normal API parameters. Your code should instead look like this:

[code]

[2017-09-08 20:57] #381 closed

[2017-09-12 15:32] ob-stripe commented on #369
Going to close this issue since we were unable to reproduce the problem.

@dnuske, if you're still observing this problem, feel free to reply here or directly reach out to Stripe's support at https://support.stripe.com/email.

[2017-09-12 15:32] #369 closed

[2017-09-13 14:07] kylevogt opened #390 "Typescript object causes error when calling charges.create()"
Node version:  8.4.0
Stripe version: 4.23.1

I created a model representing a Stripe Charge object in typescript so we can ensure type safety when building requests. However, when using that Stripe Charge object  when calling charges.create, I get the error:

### Relevant Code:

[code]

[code]

By debugging the stripe library I was able to narrow it down to `isPlainObject(args[0])` returning false

[2017-09-13 18:38] mathieug opened #391 "customer/cards -> customer/sources"
In the code (https://github.com/stripe/stripe-node/blob/master/lib/resources/CustomerCards.js#L17), the client targets this endpoint: `DELETE https://api.stripe.com/v1/customers/{CUSTOMER_ID}/cards/{CARD_ID}`
In the documentation (https://stripe.com/docs/api/curl#delete_card), the endpoint is: `DELETE https://api.stripe.com/v1/customers/{CUSTOMER_ID}/sources/{CARD_ID}`
It seems customer/cards has

[2017-09-13 18:39] remi-stripe commented on #391
@mathieug those endpoints are interchangeable for cards and work the same way. Definitely worth improving in the future but it would not change anything to your integration.

[2017-09-13 18:39] #391 closed

[2017-09-13 18:42] mathieug commented on #391
I was mocking (w/ nock) customer/sources instead of customer/cards because the documentation. Maybe I'm not the only one who can be confused :)

[2017-09-13 19:15] brandur-stripe commented on #390
Hm, we should improve that error message, but I'm not completely sure that we should change this behavior. Imagine if in another typed you had a 3rd party library with a function, wrote your own parameter class it, and then tried to invoke the function with your class — you'd fully expect it to compile/fail.

It's pretty suboptimal that the primitive in JavaScript is a plain object with no type sa

[2017-09-14 18:47] kylevogt commented on #390
Personally, I think this is over validation. If the object you pass in has the properties needed, the library should be able to take those values and build the request. But, the work around works for now. I'll be eagerly anticipating more official Typescript support :D

[2017-09-14 22:54] brandur-stripe commented on #390
Yeah, I definitely see your point. Is there some kind of middle ground that we could go for like if I could recognize a non-primitive TypeScript object from outside of TypeScript? I notice that it has an `object` type that would work pretty well for this, but I'm not sure whether I'd able to access it from this library.

I can't promise anything right away, but I'd seriously love to do this!

[2017-09-18 13:46] kylevogt commented on #390
Perhaps you could use toPlainObject() from lodash to strip the object down? I haven't tested what it does to setter/getters but it does strip away functions, etc. Maybe that is enough to "clean" the object before trying to retrieve values from it?

[2017-09-18 18:49] jlomas-stripe commented on #356
@sunlee-newyork Can you share the code you're using in your webhook handler where you're trying to process the `request.body`?

[2017-09-18 19:14] sunlee-newyork commented on #356
Hi @jlomas-stripe, I fixed the issue a few days ago by resorting to my own custom HMAC SHA comparison as described in the stripe docs. Unfortunately I don't recollect the issue...

[2017-09-19 17:29] jlomas-stripe commented on #356
Ahhh, ok.  Glad to hear it!

[2017-09-22 02:12] bentedder commented on #331
Thanks for the info everyone. For others, I also solved it this way:

`app.post('/stripe_event', require("body-parser").raw({type: "*/*"}), stripeEvent)`

I had to remove/move my other calls to require("body-parser") further up the line as well

[2017-09-25 23:16] deontologician-stripe commented on #367
Looks like @ob-stripe is working on this in #383

[2017-09-25 23:19] deontologician-stripe commented on #313
Closing due to age

[2017-09-25 23:19] #313 closed

[2017-09-25 23:21] deontologician-stripe commented on #292
Closing since it seems like we aren't doing this

[2017-09-25 23:21] #292 closed

[2017-10-03 16:44] deatheragetr opened #393 "Bad warning when retrieving plan for connected account"
Stripe-node version: 5.1.0;
Node version: 8.6.0 (Oddly, I only discovered this on upgrading from node 6.x.x to 8.x.x)

Behavior works as expected for retrieving a subscription plan on a connected account; however, a warning is logged.  I believe this warning is wrong.

[code]
logs the following:
[code]
Since, I'm calling `plans.retrieve` the way the documentation suggests, and since it's behaving

[2017-10-03 16:52] jlomas-stripe commented on #393
That ... is interesting. :)  We recently added that warning, but it definitely shouldn't be appearing there.  I'll have a look at this shortly - thanks for bringing it up!

[2017-10-03 16:54] deatheragetr commented on #393
Of course, thanks for the quick response!

[2017-10-04 20:11] #393 closed

[2017-10-04 20:17] brandur-stripe commented on #393
Thanks for reporting this! We've released a fix in 5.1.1.

[2017-10-04 21:43] deatheragetr commented on #393
Great thanks for the quick turnaround!

[2017-10-09 22:33] sampsonjoliver commented on #296
For anyone struggling with stripe and types, what has worked for me across both Flow and TypeScript is

Install the types
[code]

Import the package and use the default-exported constructor
[code]

All the types exist under the StripeNode module namespace, because the `@types/stripe-node` index.d.ts has a top-level `declare namespace StripeNode { ... }`. So when you want to specify a type on a fun

[2017-10-10 14:23] danpreece opened #396 "Webhooks.constructEvent() returning "No signatures found matching the expected signature for payload""
On the current master branch, so version 5.1.1 in Webhooks.js on line 52

[code]

I believe the double exclamation mark is an error.

I am confident that the details being supplied to the function are correct and when I remove one of the exclamation marks the method works as expected.

If this isn't an error though, then something else is going on in my code so let me know :)

[2017-10-10 14:42] ob-stripe commented on #396
@danpreece That line is correct -- the double exclamation mark is just a "trick" to turn the result of `.length` (an integer) into a boolean. I.e. the code does the same thing as:

[code]

By removing one of the exclamation marks, you're reversing the condition. This is definitely not what you want :)

A common error is to call `constructEvent` with a payload that was decoded and re-encoded as JSO

[2017-10-10 14:42] #396 closed

[2017-10-10 15:16] danpreece commented on #396
@ob-stripe thank you for the prompt response and pointing me in the right direction.

I have returned the second ! and I am now passing the raw body from Stripe into the function without decoding and re-encoding

[2017-10-10 15:23] ob-stripe commented on #396
Glad I could help!

[2017-10-16 20:25] ob-stripe commented on #367
Closed via #383.

[2017-10-16 20:25] #367 closed

[2017-10-20 07:50] Ontokrat commented on #341
My implementation in Meteor - thanks to @manu-st.
I use [Picker](https://github.com/meteorhacks/picker) as router Server Side ([allow filter and sub-routes](https://github.com/meteorhacks/picker#filtering-and-sub-routes)).
Body-parser in JSON for every webhook / exception for Stripe: verification of webhook's signature (raw) and then handling the same webhook in JSON.

[code]

[2017-10-23 09:18] mckn opened #401 "Feature Request - FileUpload should start supporting streams"
Hello,

I would be super happy if you could start to support uploading files to your service by passing a stream. It would increase performance and improve the structure of the code.

Thanks in advance!

[2017-10-23 09:42] ob-stripe commented on #401
Hey @mckn! Thanks for the feature request. This does sound like a good idea!

[2017-10-23 18:15] myvcc657 opened #402 "Memindahkan saldo transaksi berhasil stripe"
Please only file issues here that you believe represent actual bugs or feature requests for the Stripe Node library.

If you're having general trouble with your Stripe integration, please reach out to support using the form at https://support.stripe.com/ (preferred) or via email to support@stripe.com.

If you are reporting a bug, please include your Node version and the version of the Stripe Node

[2017-10-23 18:16] myvcc657 opened #403 "Menggabungkan shopify dengan stripe"
Please only file issues here that you believe represent actual bugs or feature requests for the Stripe Node library.

If you're having general trouble with your Stripe integration, please reach out to support using the form at https://support.stripe.com/ (preferred) or via email to support@stripe.com.

If you are reporting a bug, please include your Node version and the version of the Stripe Node

[2017-11-02 23:17] staringispolite commented on #307
I'm getting this error when I just try to package it up for the very first time with grunt run/grunt package, per the README instructions. What am I missing? There shouldn't be any stripe requests triggered in setup, should there?

[2017-11-03 00:29] jlomas-stripe commented on #307
@staringispolite This library is only for server-side use.  On the client side, you'll want to use [Checkout](https://stripe.com/docs/checkout) or [Elements](https://stripe.com/docs/elements).

[2017-11-03 01:15] staringispolite commented on #307
Yes. Maybe I should clarify, I’m following the instructions in the README
to get the code up to AWS LAMBDA for the first time. The instructions are
to run “grunt run” then “grunt package”. For some reason both are
generating this error, when as far as I can tell, neither should be
submitting anything to Stripe
On Thu, Nov 2, 2017 at 5:29 PM jlomas-stripe <notifications@github.com>
wrote:

[2017-11-07 22:27] sedouard opened #406 "Better Access to Response Headers"
On a successful API request the Stripe Node SDK doesn't provide a natural way of accessing response headers which can be useful in the case you're interested in response metadata (such as `Idempotency-Key` and `Request-ID`.

For example today it is possible to do this but it is a little bit awkward since response metadata is exposed through an event emitter interface, while the response body is ex

[2017-11-07 22:33] remi-stripe commented on #406
assigning to @jlomas-stripe who built the feature originally in https://github.com/stripe/stripe-node/pull/366

[2017-11-07 22:35] brandur-stripe commented on #406
Thanks!

And yeah, it seems fine to me to expose `idempotencyKey` given that we've already got `requestId` on there. I wonder if we should add something like a `headers` field onto `lastResponse`? It's not too likely any of our special fields is going to class with a property in a response object, but mixing them all into one big bucket like we're doing now seems like poor hygiene.

[2017-11-07 22:45] jlomas-stripe commented on #406
@sedouard You can already get the `requestID` at `customer.lastResponse.requestId`, but the `idempotencyKey` isn't available in the same place.  That said, it _is_ available in the `customer.lastResponse` object, but you'll currently have to dig for it.

@brandur it might make sense to expose anything that we allow providing, maybe as:

[code]

...?

[2017-11-07 23:07] sedouard commented on #406
Personally I like the idea of matching what comes out of `on('response')`. It's tiny and has all the custom headers and important metadata. I can't think of much use cases which would need the other standard HTTP headers

[2017-11-08 03:35] zeeshanjan82 opened #407 "Timestamp outside the tolerance zone"
When using the express example I get the error: Timestamp outside the tolerance zone

Can anyone suggest what could be the reason?

[2017-11-08 13:25] ob-stripe commented on #407
Hi @zeeshanjan82. To protect against replay attacks, Stripe's libraries also check the timestamp when verifying an event's signatures, and if the timestamp is older than a certain tolerance, the verification fails with the error you mentioned.

The default tolerance is 5 minutes, which is fairly lenient. What is likely happening here is that your server's clock is more than 5 minutes out of sync w

[2017-11-08 13:25] #407 closed

[2017-11-08 16:40] brandur-stripe commented on #406
I think it'd probably be already to add an `idempotencyKey` helper on `lastResponse`, but given that it's called `lastResponse`, we should be aiming to model it like a response as much as possible so that a user familiar with HTTP can easily guess at how to properly use it (e.g. should have data, should have status code, should have headers).

[2017-11-10 18:47] stevene-stripe commented on #406
So on @brandur-stripe's point the current response (and `request`) objects coming from the `request` and `response` events don't conform to convention js naming (they're snake_cased):

[code]

However `lastResponse` is currently camelCased which is a bit confusing.

I think it would be great to model `lastResponse` with our added `idempotencyKey` helper and a shape similar to that of the responses

[2017-11-11 00:13] brandur-stripe commented on #406
+1.

[2017-11-14 21:44] immexerxez opened #409 "Signature header: TypeError: Key must be a buffer"
Using serverless Lambda to consume webhooks and I can't get Signature validation working with the SDK. I am getting the raw body but I keep getting some variation of the Stripe-Signature not being consumed properly. I've tried converting to json string, toString(), creating a buffer, etc but no luck.

[2017-11-14 21:59] ob-stripe commented on #409
@immexerxez The raw body _is_ a string. If you're receiving an array or object, then the JSON string has already been deserialized and you will not be able to convert it back to the exact original string.

I don't have experience with Lambda myself, but this comment from another user might be helpful: https://github.com/stripe/stripe-node/issues/356#issuecomment-311658193.

Closing this issue as I

[2017-11-14 21:59] #409 closed

[2017-11-15 21:53] ekoome opened #410 "Cannot find module 'stripe'"
I'm getting the above error when trying to import stripe 5.3.0 using Node 6.9.1, tsc 2.1.4. Using instructions under https://github.com/stripe/stripe-node

I have installed stripe npm install `stripe --save && npm install @types/stripe --save-dev`

`const stripe = require('stripe')('sk_.......'); `//Error here! "Cannot find module stripe"

Tried adding paths in tsconfig "stripe": ["node_modules/st

[2017-11-15 21:54] remi-stripe commented on #410
@ekoome Did you install the library in your system first? You can read more about this here.

[2017-11-15 22:02] ekoome commented on #410
Yes - Using instructions under https://github.com/stripe/stripe-node

I have installed stripe npm install stripe --save && npm install @types/stripe --save-dev

[2017-11-15 22:12] remi-stripe commented on #410
Are you trying to run this code server-side or client-side? The stripe-node library is a server-side component and can not be used in the browser.

[2017-11-15 22:18] ekoome commented on #410
This code is running server-side in node.

[2017-11-15 23:24] fred-stripe commented on #410
If `require()` fails to load a module it's most likely a problem with your local setup and not anything specific to the Stripe module. It looks like you've been in touch with Stripe Support, so the best course for resolving this problem is to work with them and provide more specific details about your package configuration, etc. I tested the steps you listed on Node v6.9.1 as well and was able to

[2017-11-15 23:24] #410 closed

[2017-11-26 02:55] tinovyatkin opened #411 "Calling any `stripe.exchangeRates` result in `Unrecognized request URL` error"
Anything you had in tests actually results in `Unrecognized request URL` error:

`await stripe.exchangeRates.list()` or `await stripe.exchangeRates.retrieve('USD')`

Is that API released to Node library but not live?

[2017-11-26 11:44] ob-stripe commented on #411
Hi @tinovyatkin. That's correct, the `/v1/exchange_rates` endpoint is not publicly available yet. I don't have an ETA for when that will be the case, but you can write to support at https://support.stripe.com/email to inquire about this.

[2017-11-26 11:44] #411 closed

[2017-11-27 03:11] tinovyatkin commented on #411
That's some of rarest things I even seen - to release API in helper library, but not release the API actually.

[2017-11-28 18:29] #402 closed

[2017-11-28 18:29] #403 closed

[2017-12-02 21:49] ekoome opened #413 "Unable to mock stripe with Jasmine"
How do i stub stripe with Jasmine? In my test:

[code]

further in tests:

[code]

This does not work with an error - Error: Expected spy create to have been called.

Using stripe 5.3.0 and Jasmine 2.8.0.

[2017-12-04 01:42] ob-stripe commented on #413
Hi @ekoome. As far as I can tell, stripe-node works fine with Jasmine.

Here's a very basic test:

[code]

These tests pass successfully:

[code]

It seems likely that the issue is in your own code, and that `stripe.charges.create` is not called as Jasmine reports.

I'm closing the issue, but feel free to reply if you believe that is is really a bug with the Node library.

[2017-12-04 01:42] #413 closed

[2017-12-05 18:13] brandur-stripe commented on #411
Although probably better than the reverse :)

We usually try to get the library releases a little closer to the product release, but I think in this case we had to make a few last minute changes server-side.

[2017-12-07 12:17] ekoome commented on #413
When mocking Stripe in a controller, seems not to work: example below:
stripecontroller.ts

`import { stripe_test_key } from '../../src/config';

const stripe = require('stripe')(stripe_test_key);

export class Payment {

    public async charge() {

        const charge = await stripe.charges.create({
            amount: 100,
            currency: 'usd',
            source: 'tok_visa',
        })

[2017-12-07 18:36] ob-stripe commented on #413
@ekoome I'm not familiar at all with Jasmine but a quick Google search suggests that you need to use the [`jasmine-co`](https://github.com/gradecam/jasmine-co) package if you want to be able to use `await/async` in your tests.

Also, if you want to test the value stubbed by Jasmine, you need to assign it to a variable and check that variable in your assertions.

The following script works for me:

[2017-12-07 19:03] ekoome commented on #413
Hi,
I have other async functions which work well and spyable in Jasmine which supports async function https://github.com/jasmine/jasmine/pull/1356

My problem is when Stripe is called within another function or object, it can not be spied. When called directly as you specify there is no problem. Tried also with Sinon.

Try calling Stripe within a function or object/class and spy.

[2017-12-07 23:24] ob-stripe commented on #413
The following code works fine for me:

[code]

[2017-12-08 16:49] DamodarSojka opened #414 "Uncaught error: Cannot assign to read only property 'stack' of object 'Error'"
When calling:

[code]

with 4000000000000341 (Attaching this card to a Customer object succeeds, but attempts to charge the customer fail.) I receive the following error:

[code]

When the code is run with a "normal card" (for example: 4242424242424242) everything works fine.
Stack trace:
[code]

"stripe": "^5.3.0"
alpine-node:8.1.0

[2017-12-08 18:16] ob-stripe commented on #414
@DamodarSojka How are you assigning `this.Stripe`?

[2017-12-08 18:19] DamodarSojka commented on #414
I have tried both
import * as Stripe from "stripe";
...

this.Stripe = new Stripe(API_KEY) ; (with @types/stripe)
and
this.Stripe = require("stripe")(API_KEY);

[2017-12-08 18:39] ob-stripe commented on #414
I cannot seem to reproduce this on my end. Do you think you can provide a minimal example to reproduce the issue? You can use `source: "tok_chargeCustomerFail"` instead of a client-side created token.

[2017-12-08 19:00] DamodarSojka commented on #414
Do you think you can provide a minimal example to reproduce the issue? - I would love to! Not sure how to approach that however...

Same issue when using source: "tok_chargeCustomerFail". Btw, I didn't know I can simulate invalid token like that, is there a list of those somewhere?

[2017-12-10 14:41] ob-stripe commented on #414
If you can reliably reproduce the issue, try stripping the code until you get to the bare minimum needed to showcase the issue, and share the code here (you can use gist.github.com or pastebin.com if the code is too long).

Yes, in the [testing](https://stripe.com/docs/testing#cards-responses) doc page, you can click the "Tokens" tab to show static test tokens.

[2017-12-10 18:09] DamodarSojka commented on #414
It seems that this code makes the stripe code to fail:
Object.defineProperty(Error.prototype, "stack", {
    configurable: true,
    enumerable: true,
});

It is meant to help with logging in hapi. Read more here: https://github.com/hapijs/hapi/issues/2744

[2017-12-10 19:35] ob-stripe commented on #414
Thanks! I was able to reproduce the issue with this code:

[code]

Simply adding `writable: true` to the list of properties seems to solve the issue:

[code]

Can you give it a try and let me know if that solves the problem for you?

[2017-12-11 18:54] DamodarSojka commented on #414
Adding writable: true solves the problem. Thank you very much!

[2017-12-11 18:54] #414 closed

[2017-12-13 22:55] iamclaytonray commented on #296
What is the current status on this issue? It has nearly been a year since @ronzeidman opened it and the issue is relatively easy to fix. Is this not going to have a resolution? If not, let the community know and close the issue. It seems like maintainers have just dropped back and not given a clear direction on what's going on concerning this.

[2017-12-20 14:34] samuelcastro opened #418 "Cannot read property 'createUrlData' of undefined"
Node Version: v8.9.2
Stripe Version: 5.4.0

Scenario:

I'm just trying to create a new customer like:

[code]

But I'm getting: `Cannot read property 'createUrlData' of undefined`

[2017-12-20 15:19] ob-stripe commented on #418
You can't just use a reference to the `create` function. You need to use a reference to the full resource object. Try modifying your code like this:

[code]

[2017-12-20 15:19] #418 closed

[2018-01-11 19:05] karthikiyengar commented on #296
The current typings on DefinitelyTyped are pretty old and unfortunately, I am unable to augment them easily.
`Cannot augment module 'stripe' because it resolves to a non-module entity.`

We need better types for such a critical piece of software :-)

[2018-01-12 00:13] sampsonjoliver commented on #296
@karthikiyengar if you are using the `stripe-node` types, extending them is easy.

[code]

And of course, feel free to make PRs into the `DefinitelyTyped/stripe-node` repository with enhancements and additional features.

[2018-01-21 16:55] manojown opened #419 "If i want to update connect account details than how can i ."
whenever i try to update its throw error - { Error: You cannot change `legal_entity[personal_id_number]` via API if an account is verified. Please contact support@stripe.com if you need to change the legal entity information associated with this account.}
2 . when i create account with managed :true and    transfer_schedule: {
"delay_days": 7,
"interval": "daily"
 }, than its also show a error tha

[2018-01-21 17:19] remi-stripe commented on #419
If an account is verified, you can not modify most things under the `legal_entity` hash. This means you should not be passing this parameter at all when you call the Update Account [API](https://stripe.com/docs/api#update_account).

As for the account creation, `managed: true` has been deprecated months ago in favor of `type: "custom"` and `transfer_schedule` has been renamed to `payout_schedule`.

[2018-01-21 17:19] #419 closed

[2018-01-25 18:07] medmin opened #420 "Do you have any code-examples for alipay in nodejs?"
Hi, I want to use two payment methods, credit card and alipay. I use "checkout". The credit card is set to be the default method by your example code.

My questions are:
Can I set the alipay as the default method?
If I have multiple payment methods, do I need to set up multiple URLs for each of these methods? If not, how to process multiple payment methods in one URL? I mean, how to differentiate

[2018-01-25 18:16] ob-stripe commented on #420
Hi @medmin. GitHub issues are specifically for bugs or feature requests regarding Stripe's Node library, not for general usage questions.

Please send your questions to support using the form at https://support.stripe.com/email.

[2018-01-25 18:16] #420 closed

[2018-01-25 18:19] medmin commented on #420
I did write an email. No response. So.....

[2018-01-26 02:33] rachaelshaw commented on #396
@ob-stripe Thanks for the tip!

By the way, in case it helps anyone in the future, it seems the issue when re-stringifying (e.g. after auto-decoding) is that Stripe's API is stringifying empty dictionaries `{}` as `{\n  }`, which would require custom post-processing when using `JSON.stringify()` (or possibly a custom replacer function- we didn't take the time to experiment further).

Here's a quic

[2018-01-29 17:05] keerthikumarsr95 opened #421 "Need some help with subscription integration"
I have integrated stripe subscription...

I need some information

1.In production mode how long will it take to complete the transaction I.e to get payment successful message via.

2. In production mode do we need to make our customers wait till we get payment successful confirmation or is it done  in background and updated via other sources..
I just need to know how is this done ideally...

Both

[2018-01-29 17:15] remi-stripe commented on #421
@keerthikumarsr95 the github issues should be limited to bugs on the library itself. For those questions you should reach out to our support team instead: https://support.stripe.com/email

[2018-01-29 17:15] #421 closed

[2018-01-30 00:30] jlomas-stripe commented on #406
Welp, I fell off the world apparently.   ¯\\\_(ツ)_/¯

@sedouard @brandur-stripe:

If I recall correctly, I modeled these on the parameter names that get provided, rather than camelCasing them as one would normally see in Node.

At this point, I'd say switching up the events' property names would be a breaking change, so I'm not sure if it's something that could/should be done here?

That said, add

[2018-01-31 01:24] die20 opened #422 "Authenticate express account tokens documentation?"
How would I make this request using the stripe-node library?
https://stripe.com/docs/connect/express-accounts#token-request

I can make an http request using the curl params from the link above but I just wanted to make sure I wasn't missing something.

[2018-01-31 21:36] remi-stripe commented on #422
@die20 This is not something that the library supports today. It has been added to some of our other libraries so I'm going to tag this as a future enhancement. For now the best solution would be to make your own curl request!

[2018-02-01 20:25] jlomas-stripe commented on #406
Per magical conversations elsewhere - and to remind myself for when I finally do this - I'll be adding the following to `lastResponse` from the header:

- `idempotencyKey`;
- `stripeAccount`;
- `apiVersion`;

[2018-02-12 13:12] vishvas-prajapati opened #423 "StripeInvalidRequestError"
`
let obj = {
  amount: 2500,
  currency: 'usd',
  customer: 'cus_CJIGVr6qKh8Lm6',
  source: {
    object: 'card',
    currency: 'usd',
    exp_month: 12,
    exp_year: 2019,
    number: 5555555555554444,
    name: 'Demo Card'
  }
};
stripe.charges.create(obj);
`

while using above code, I got stripe error as mention below
{ Error: Invalid string: {"object"=>"card", "currency"=>"usd", "exp_month"=

[2018-02-12 13:24] remi-stripe commented on #423
@vishvas-prajapati When you create a charge and pass a customer id (cus_1234) in the `customer` parameter, you can not also pass card details in the `source parameter. This would not work as we expect a card id (card_AbcD) instead of a card already saved on the customer.

If you have a new card, you have to save it on the customer first using the Create Card [API](https://stripe.com/docs/api#creat

[2018-02-12 13:24] #423 closed

[2018-02-13 04:06] coman3 opened #424 "[Parse Cloud Code] Stripe.DEFAULT_TIMEOUT causes build error"
Hey guys,
Absolutely love the the library! Long story short, this is a really easy fix.

Currently i have a parse-server setup, with a simple browserify build, building my source. This folder contains all of my "cloud code" for my parse server which is then built into `cloud/main.js` with all required libraries (stripe included). I am attempting to create a subscription, as a user executes a cloud

[2018-02-13 17:32] jlomas-stripe commented on #424
@coman3 I think the difficulty here is in using browserify to build your server side code; that's less than ideal, because of things like this.

When you make that change in your local Stripe library, do things work otherwise?  Are you able to create a Test Customer, Subscription, etc using the Parse Cloud Code?

I do think that there's a risk here; we want to make sure that folks don't try to inc

[2018-02-13 17:44] ob-stripe commented on #424
I don't see too much of a problem with replacing the default timeout with a constant (it's what we do in all the other libraries), but I agree with @jlomas-stripe here: requiring `http` has the nice side-effect of ensuring users don't try to use the library in client-side code.

I know basically nothing about Parse. Is using browserify a requirement? It seems counter-intuitive to use a tool specif

[2018-02-13 19:30] jlomas-stripe commented on #424
@ob-stripe It's basically:

So you could just hand-roll that code, or you can have a build system assemble it for you.  `browserify` isn't really the ideal tool for this, since it's meant to 'browserify' node-style code, rather than build server-side code, but still.

I think a good solution here is probably hard-code the timeout (which makes sense, and apparently the [default is actually 12000 ms

[2018-02-13 23:09] coman3 commented on #424
Yea, i fully brain farted yesterday. Realised that browserify was probably the worst option i could use to compile code... Sorry about that guys 😕

[2018-02-13 23:11] ob-stripe commented on #424
@coman3 No worries :)

[2018-02-15 11:13] singhravi1979 opened #427 "Stripe Connection issues with test keys"
Hi,
 we are getting lot of connection issues while using stripe node package and test stripe keys.
Error details are:
UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2937): Error: An error occurred with our connection to Stripe

Node Version:6.9.1
Stripe Package :4.23.1

[2018-02-15 13:24] remi-stripe commented on #427
@singhravi1979 this looks like a connectivity issue and not a bug with the library itself. I'd recommend checking your connection or talking to your host provider if you're not running the code locally.

The github issues should be limited to bugs with the library itself so I'd recommend contacting our support team if you have any follow up questions: https://support.stripe.com/email

[2018-02-15 13:24] #427 closed

[2018-02-22 00:49] brandur-stripe commented on #406
Sorry about the hugely delayed response here Jonathan, but yep, that sounds good to me.

[2018-02-23 21:27] moberemk commented on #296
Could just open a PR that copies the DT typings into this library; are those still very out of date?

[2018-02-23 21:37] ricklove commented on #296
The original problem was that the types were completely wrong. They were
for the client library of stripe and not the node library. However, they
used the npm name for the node library so there was no way to replace them.
(Typescript requires the npm package name match the @types/package name).
So we had to hack a way around it.

If this has been resolved, then there is no problem. I haven't used

[2018-02-24 12:40] iamclaytonray commented on #296
@ricklove - It hasn't been resolved. The types are still completely wrong. I decided to just move everything concerning stripe into JS, which sucks, but I guess I'll just deal 🤷‍♀️

[2018-02-26 10:27] tezmaster commented on #319
This still seems to be an issue for me the fix you point to show's that

b49ee6b has: includeBasic: ['create', 'list', 'retrieve', 'update', 'del',],

yet the current version

bd4bd44 has: includeBasic: ['list', 'retrieve', 'del',],

so when you try to use `stripe.customers.createSubscription()` you get `Cannot read property 'createUrlData' of undefined` ??

[2018-02-26 10:34] ob-stripe commented on #319
@tezmaster The current version has `includeBasic: ['list', 'retrieve', 'del',]` because the `create` and `update` methods have custom definitions in order to properly encode the `items` parameter. In the second commit you linked, you can see that the `create` and `update` methods are defined right after the `includeBasic` line.

`stripe.subscriptions.create()` is still the way to go to create subs

[2018-02-27 17:41] mlreggie opened #429 "Received unknown parameter: name"
Drupal Version: 7.57
CiviCRM version: 4.7.3
Stripe Ext Version: 4.7.3

We are able to successfully process memberships until the Reoccurring Payment Option is selected. A customer record is entered into Stripe, however, payment is not process and is stalled as pending in CiviCRM.

Receiving the following error message after confirming contribution for reoccurring payment option.
Error Oops! Looks

[2018-02-27 18:26] ARChilton opened #430 "Installing stripe on ubuntu server"
When i npm install stripe on ubuntu server version: 16.04

I get the following error:

root@vps490460:/var/www/server/ScoutServicesServer# npm install stripe
npm ERR! path /<path to node_modules>/node_modules/dezalgo
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall rename
npm ERR! enoent ENOENT: no such file or directory, rename '/<path to node_modules>/node_modules/dezalgo' -> '/<path to n

[2018-02-27 18:50] ARChilton commented on #430
After reading through other libraries that had the same issue it seems it was to do with this:
https://github.com/tjunnone/npm-check-updates/issues/420

To fix make sure npm in dependencies is updated to the latest version

[2018-02-27 18:50] #430 closed

[2018-02-28 11:31] ob-stripe commented on #429
@mlreggie You're likely using API version [2018-02-05](https://stripe.com/docs/upgrades#2018-02-05) or more recent.

This is not a bug with the Node library, so I'm closing this issue. If you require more help with this, please reach out to support at https://support.stripe.com/email.

[2018-02-28 11:31] #429 closed

[2018-02-28 20:35] mlreggie commented on #429
What version would be the best to use for recurring payments?

[2018-03-07 05:38] ancil26 opened #431 "webhook_endpoints support"
Hey guys, just wondering if/when this package will add support for webhook_endpoints?

This would be really useful for us as we have a lot of endpoint urls to add for each environment after deployment. If we can programatically do this through this package that would be great

[2018-03-07 09:06] ob-stripe commented on #431
Hi @ancil26. The `/v1/webhook_endpoints` endpoint is not part of the public API and can only be used by the dashboard.

We will likely make the endpoint public in the future, but I don't have an ETA to share just yet. If/when we do release this feature, we will of course update all our client libraries to support the endpoint.

[2018-03-07 09:06] #431 closed

[2018-03-11 21:00] ahaverty commented on #390
Hitting the same issue as @kylevogt
I expected Stripe-node to gracefully handle nulls and undefined values for non-required properties.
`_.toPlainObject(chargeInstance);` _is a nice quick workaround though_ 👌

[2018-03-11 21:19] ahaverty commented on #296
@sampsonjoliver comment works, but I'm getting a typeError on my types
It looks like a new @types/stripe was added to DefinitelyTyped repo a few days ago, deprecating stripe-node types.
Anybody have documentation? I've just removed type checking for now 🤔

[2018-03-12 02:11] jonnycraze opened #432 "Intermittent failure when creating a new customer"
Hello all,

I am sorry if I've missed this issue posted here prior, if I have please point me in the right direction.

I have an intermittent error, and when it occurs i get the following in my logs:
cannot find 'create' of undefined

This is the method i am using:
```stripe.customers.create(user, (err, customer) => { //do stuff })```

Any help on what may be happening is greatly appreciated.

[2018-03-12 10:49] ob-stripe commented on #432
Hi @jonnycraze. Hm, that's rather strange, but I don't think it's a bug with the library itself. It sounds like your code is redefining `stripe`, which causes `stripe.customers` to be `undefined`.

Can you reach out to support at https://support.stripe.com/email and include your code? They should be able to help you.

[2018-03-12 10:49] #432 closed

[2018-03-12 13:37] jonnycraze commented on #432
@ob-stripe I ended up finding this late last night, and that was exactly it the stripe var got redefined, I felt very derpy.

Thank you for the reply.

[2018-03-12 14:29] ob-stripe commented on #432
Haha, it happens to the best of us. Glad you got it sorted out! :)

[2018-03-14 04:43] wonderfulazzahra commented on #432
hei @jonnycraze, can i know what you do to fix this. i cannot find 'create' of undefined on Stripe.subscriptions.create :(

[2018-03-17 20:47] ldevalbray opened #434 "Error: Can't resolve 'child_process' when trying to use stripe-node server side"
**Hello,**

When trying to install stripe for the server side code,
[code]

I got this npm error :

[code]

Would you know what to do ? I searched all over the internet but there does not seem to be any solution. I checked the other opened issues about this subject but I did not find a solution. I want to use stripe-node server side only (I got that it should not be use client side and that Stripe

[2018-03-17 21:59] ldevalbray commented on #434
It does not work unfortunately ...  But you're right, it must be an issue with my build environment. I should not have opened an issue on strip-node. My bad.
Thank you for your quick response though

[2018-03-19 10:56] jazarja opened #435 "Wrong error message on bank account verification"
I'm trying to call bank account verification through customer.verifySource, my code as follows

[code]

When the amount is not correct, the library is returning the following error:
[code]

While on stripe console log, the error as follows
[code]

[2018-03-19 11:01] ob-stripe commented on #435
Hi @jazarja, can you reach out to support at https://support.stripe.com/email about this issue? Make sure to include the IDs of the customer, bank account and/or log request. Support will be able to look at your account's log and help you debug this issue.

[2018-03-19 11:02] ob-stripe commented on #434
Hey @ldevalbray, no problem. I'm going to close the issue, but feel free to reply if you have any questions about the library, or if you figure out how to solve the issue! It may be helpful to someone else in the future :)

[2018-03-19 11:02] #434 closed

[2018-03-19 11:11] jazarja commented on #435
Thanks for your reply, but I'm pretty sure everything was received perfectly on stripe API server.

[code]

[2018-03-19 11:28] ldevalbray commented on #434
Thanks for your help.
I managed to solve the issue.
See : https://github.com/react-boilerplate/react-boilerplate/issues/2163
Have a good day !

[2018-03-19 11:31] ob-stripe commented on #435
I can't seem to reproduce the issue. This code works as expected for me:

[code]

My guess is that in your code, `bankAccountId` can sometimes be an empty string. When it's an empty string, the code fails with "Stripe: Argument "sourceId" required, but got:  (on API request to `POST /customers/{customerId}/sources/{sourceId}/verify`)". When it's not an empty string, the request is sent and process

[2018-03-19 11:31] #435 closed

[2018-03-22 11:38] reisel opened #436 "BUG - Path must be a string. Received undefined"
Node version 8.9.4
Stripe version: 5.5.0

when creating a plan I get the error.
the reason is that the create spec has no path.
then when calling createResourcePathWithSymbols(spec.path) from StripeMethod
createResourcePathWithSymbols is called with undefined.

inside createResourcePathWithSymbols the method calls path.join with the undefined value and this throws the exception.

[2018-03-22 13:25] ob-stripe commented on #436
Hi @reisel, thanks for the report. Can you provide more information about this issue? If you could provide sample code to reproduce the issue, it would be very helpful.

[2018-03-22 14:07] reisel commented on #436
@ob-stripe
sure.
[code]

please note,
I know the stripe library wasn't designed to support the custom class.
but still in this case there is an error message that need to be displayed:

[code]

[2018-03-22 14:56] ob-stripe commented on #436
Ah, gotcha. Indeed, it appears that for API methods where `spec.path` is undefined, the code crashes while trying to format the error message.

[2018-03-23 06:42] OrKoN opened #438 "Consider removing Bluebird"
Hi,

I was wondering why do you need Bluebird as a dependency? I am packaging this module for AWS Lambda and want to optimize the size of the final bundle. Here is what I see: stripe-node takes 102 KB, bluebird requires 613 KB!

I think the library may not need such a heavy dependency. Is it possible to remove it?

[2018-03-23 09:42] ob-stripe commented on #438
@OrKoN The dependency was introduced when the library needed to support Node 0.x and native ES6 promises weren't available.

Now that the minimum required version is Node 4, I suppose we could remove the dependency in favor of native promises. That said, Bluebird seems to have significantly better performance than native promises (according to https://github.com/petkaantonov/bluebird/tree/master/b

[2018-03-23 10:34] OrKoN commented on #438
@ob-stripe I think this info on bluebird's site may be outdated (results are from 2015-01-05). Alternatively, you can optionally accept a different promise implementation if someone wants to use Bluebird.

[2018-03-23 14:16] ob-stripe commented on #438
I like this! I've prepared a patch in #439.

[2018-03-24 14:55] #438 closed

[2018-03-24 15:01] ob-stripe commented on #438
@OrKoN I've just released version 5.6.0 of the library with native ES6 promises instead of Bluebird :) Thanks for the suggestion!

[2018-03-25 09:05] lomegg commented on #341
The issue is still present and driving me mad.

[2018-03-25 11:00] floatingLomas commented on #341
@lomegg Can you provide more details on your issue and the specifics of your implementation, ie versions, where/how you're running it?

[2018-03-25 18:09] ob-stripe commented on #436
Fixed in 5.6.1. Thanks for the contribution @reisel!

[2018-03-25 18:09] #436 closed

[2018-03-26 07:45] mira-thakkar commented on #434
@ob-stripe I am trying to integrate this package in react app built with nextJs and getting the same error as below:

Module not found: Error: Can't resolve 'child_process' in '/home/mirathakkar/myproject/node_modules/stripe/lib'

 can you help where am i going wrong?

[2018-03-26 07:58] ob-stripe commented on #434
@mira-thakkar stripe-node is a server-side package. You can't integrate in your client-side React code, you must use it server-side with Node.js.

[2018-03-26 15:54] lomegg commented on #341
@floatingLomas I am running it with express when getting a webhook after the simple cart charge (those are not required but I use them as confirmation in my eCommerce, so I need them to be signature verified). My issue is that I am getting object instead of json even after I use bodyParser as middleware like this
`var rawParser  = bodyParser.raw({type: "*/*"});`
`app.all('/webhook', rawParser, key

[2018-03-26 15:58] jlomas-stripe commented on #341
@lomegg What does `keystone.middleware.api` do?  Does that overwrite the `body` by chance?

[2018-03-26 16:01] lomegg commented on #341
@jlomas-stripe It provides some api methods, I was testing with it switched off to the same effect. But I will double check on that again, thanks

[2018-03-27 06:21] dorelljames commented on #341
Here's how I solved mine here. The arrangement here is pretty important.

[code]

Hope that helps someone who also stumbles here. Good luck!

[2018-03-27 18:46] danpalmieri commented on #149
@remi-stripe You right! In my case it was the javascript of Elements with the test key. Thanks.

[2018-03-30 23:41] mfossel opened #440 "Crashing error on declines"
Hello, we are occasionally getting a crashing error on declined charges. This does not happen every time a card is declined and we have not been able to recreate it, it only happens in a live production environment.

This is the error
`
Error Your card was declined.
    /home/ubuntu/server/node_modules/stripe/lib/Error.js:12:17 _Error
    /home/ubuntu/server/node_modules/stripe/lib/utils.js:124:13

[2018-03-31 15:20] floatingLomas commented on #341
Best bet is to share the code in `routes.api.webhook.process` here, or probably better, with Support: https://support.stripe.com/email

[2018-04-02 22:44] brandur commented on #440
Hey @mfossel, it looks like you're just running into a card being declined for a charge, which is something that you should expect to happen once in a while as part of any integration. You'll want to put some error handing in place to protect your application against this (and probably pass messages back to your user). There's some information on how to do this [here](https://stripe.com/docs/api#e

[2018-04-02 22:45] #440 closed

[2018-04-02 23:06] mfossel commented on #440
We are handling declines and passing the info to the user and this works most of the time. However we still getting a crashing exception once in a while, say about 1 our of every 10 declines crashes node.

This is our charge call.

  `stripe.charges.create({
                amount: amount,
                currency: "usd",
                expand: ['balance_transaction'],
                description

[2018-04-02 23:30] brandur commented on #440
Hm, I'm afraid to say that this still appears to be an application-level bug.

If you check the stack trace you posted, you can see that an API error is being constructed exactly how you'd expect it to be. Here's `lib/Error.js:55` for example:

[code]

After a few other function calls unwind, you can see at `StripeResource:170` how this will invoke your callback with an `err` value:

[code]

If yo

[2018-04-10 14:03] andrewkslv opened #445 "docs out of date"
Seems like docs api is out of date here https://stripe.com/docs/api/node#list_issuing_cards

[code]

There're only following methods present in the api

[code]

Plus curl for issuing cards has the wrong limit parameter

[code]

[2018-04-10 14:11] ob-stripe commented on #445
@andrewkslv The endpoint you're referring to is in private beta and we don't want to publicly disclose it yet. Please reach out to support at https://support.stripe.com/email to ask about this.

(That said, what's likely happening is that our API reference is auto-generated and in the case of beta features, can give method examples before the methods are actually implemented in our libraries.)

[2018-04-10 14:11] #445 closed

[2018-04-10 14:14] andrewkslv commented on #445
@ob-stripe ah, I see. Thank you for the clarification.

[2018-04-13 11:01] tanphamminh92 opened #446 "Argument "customerId" required when send request create source from token"
I'm using MeteorJS and Stripe to build a payment system. In system, I'm trying to create card for user from Stripetoken. Follow this docs: https://stripe.com/docs/api#create_card-source, here my code:

`stripe.customers.createSource (
      stripeUserID,
      {
        source: stripeToken
      }, function(err, card) {
        console.log(err);
      }
    );`

but when I try to run this function

[2018-04-13 11:44] remi-stripe commented on #446
@tanphamminh92 The customer id (cus_1234) should be the first argument when calling that method. Are you sure that `stripeUserID` is not an undefined variable in your code? Based on the error that seems to be the issue.

[2018-04-13 11:55] tanphamminh92 commented on #446
Sorry about my issue. My code somethings made `stripeUserID ` is undefined. Thank you so much. Closed

[2018-04-13 11:55] #446 closed

[2018-04-18 02:19] rodrigoreis22 opened #447 "Problem with update method (SubscriptionItems)"
Node version: v4.3.2
Stripe version: 5.8.0

I'm trying to change the subscription item for a customer, [your docs](https://stripe.com/docs/api/node#update_subscription_item) says:

[code]

My code is:
[code]

I'm receiving this error:
[code]

When I try:
`client.subscriptionItems.update({item: itemId, plan: planId}, callback);` , I get this error:
[code]

[2018-04-18 14:36] remi-stripe commented on #447
@rodrigoreis22 Can you clarify what `callback` is in your code exactly? My guess is that you want to do something like this instead:

[code]

[2018-04-18 17:36] rodrigoreis22 commented on #447
That's exactly it @remi-stripe . It doesn't work. the `update` method doesn't receive a callback.

[2018-04-18 17:39] rodrigoreis22 commented on #447
@remi-stripe i've found now that it does work, but with promises.

[code]

[2018-04-18 17:40] remi-stripe commented on #447
@rodrigoreis22 Can you clarify what happens when you use my exact code?

[2018-04-18 18:55] rodrigoreis22 commented on #447
I get this error:
`[Error: Stripe: Unknown arguments (). Did you mean to pass an options object? See https://github.com/stripe/stripe-node/wiki/Passing-Options. (on API request to POST `/subscription_items/{id}`)]`

It seems like the `update` method 3rd parameters is expecting an object, but I'm providing a callback (just like the docs and your code above).

[2018-04-18 19:01] remi-stripe commented on #447
But there's a difference between passing `callback` and passing ```
    function(err, subscriptionItem) {
      callback(err, subscriptionItem);
    });
[code]

[2018-04-18 23:34] rodrigoreis22 commented on #447
That works @remi-stripe , what's strange is that I've been using this with `callback` for the other calls, just this one doesn't behave the same way.. here's my complete code so far:

[code]

[2018-04-19 14:27] nabilfreeman commented on #341
Thanks @manu-st for such an elegant solution.

It meant that we didn't have to refactor our Express routing. Great job!

[2018-04-19 15:50] jlomas-stripe commented on #447
Hey @rodrigoreis22!  I just tried reproducing this with Stripe 5.8.0 on Node 4.3.2, and I unfortunately can't, no matter what I try.

Can you provide the complete stack trace for the error?

[2018-04-20 20:27] joaoreynolds commented on #225
Is this issue being worked on? In the meantime I'll manually iterate through pages, but the docs say this function is coming (however, this is a stale issue)

[2018-04-20 20:50] jlomas-stripe commented on #225
I think it's sort of stuck in "the right way is generators" land right now, and the fact that there doesn't appear to be an easy/clean way to do this via Promises (as there's no `Promise.while()` equivalent that would allow exit from the loop).

Maybe we should just implement _something_ callback-based that works and then go from there, because this is a pretty useful feature.

@brandur-stripe - t

[2018-04-23 15:41] billinghamj commented on #225
Can't this be done with the following new ES syntax?

[code]

It's a finished proposal (part of ES2018): https://github.com/tc39/proposal-async-iteration

Not widely supported yet, but it isn't going to be that long: http://kangax.github.io/compat-table/es2016plus/#test-Asynchronous_Iterators

Support via Babel is already here: https://babeljs.io/docs/plugins/transform-async-generator-functions/

[2018-04-23 16:52] thousight opened #448 "Crash when creating product"
I am trying to create a product in stripe, but when I try to make the call with stripe.products.create(), it lags, and some seconds later my server crashes due to 'JavaScript heap out of memory'.

Here is how I do it:
[code]

Here is the crash report from express.js:
[code]

Is there anything wrong with it? What would be the factors to cause that server crash? Thanks

Node: v8.4.0
Stripe-Node: v5.

[2018-04-24 21:00] brandur-stripe commented on #448
Hey @thousight,

In an error message like "JavaScript heap out of memory", the "heap" they're referring to is [a segment of memory earmarked for the JavaScript VM to use for object allocation](https://en.wikipedia.org/wiki/Memory_management#HEAP). When you see an error like this, it means that that heap is at its largest allowed extent, and the runtime failed because it didn't have the space requi

[2018-04-24 21:00] #448 closed

[2018-04-25 03:59] ericz opened #449 "Invalid JSON received from the Stripe API"
Node: `6.9.4`
stripe-node: `5.8.0`

We're running `stripe.disputes.list` with a limit of 100 between a time range. We're getting this error intermittently:
[code]

We've only seen this happen on the disputes.list request. I left the requestId in the error above if it helps debug.

[2018-04-25 06:56] remi-stripe commented on #449
@ericz That one seems strange but since it's a GET request we can't access the raw response we send you via the API.

Would you be able to add some debug messages in the library right before the response is parsed as JSON? This should be done [here](https://github.com/stripe/stripe-node/blob/a4f4dbf3c324df8bb6c72eb686080ff42bdef85f/lib/StripeResource.js#L153). If you could add a line of code that

[2018-04-25 16:11] aramando commented on #449
We're having this problem too. If I inspect the raw HTTP response received in /lib/StripeResponse.js it's  truncated. I'll contact support as per your advice

[2018-04-25 21:19] billinghamj commented on #225
Actually, with the release of Node 10, this is now generally available - with no flags, etc.

[2018-04-26 00:37] brandur-stripe commented on #225
@billinghamj Great thought on the async iterators — that looks like the right move.

The only problem is that we need to maintain pretty broad compatibility. Unfortunately, Node V4 is still our most commonly seen runtime by user.

[2018-04-26 13:51] billinghamj commented on #225
@brandur-stripe I don't think there's any inherent reason this couldn't be offered with full compatibility. Although the nice special syntax has now been made available, the "under the hood" stuff which makes it work can be put into place without any language support, standard library stuff, etc.

You have to expose the iterator from a field in an object, under `Symbol.asyncIterator`. If the runti

[2018-04-30 07:01] manojcena opened #450 "How to get missed transaction details when my server down ?"
Hi i am new to payment gateway integration.

I integrated stripe payment gateway in my hybrid mobile application with node js as server and every thing seems to be working fine. But i have an issue with following scenario when my server receive a payment request from app and my server initiated payment request to stripe and payment successfully completed in stripe and while receiving the response

[2018-05-01 14:47] remi-stripe commented on #450
@manojcena Issues should be limited to bugs in the library itself and not used for questions about Stripe's API.

You can talk to our support team about this issue directly here: https://support.stripe.com/email and they can help you handle this properly!

[2018-05-01 14:47] #450 closed

[2018-05-01 20:12] thinkocapo opened #451 "usageRecords Create not triggering callback"
#### Background
I upgraded from v5.6.1 to **v5.8.0** to get access to `stripe.usageRecords`. Thank you for this improvement.

#### Problem
The **callback** to `stripe.usageRecords.create` is not executing. The call hangs. I went to my Dashboard.Stripe and saw the usage record was in fact created. Maybe something is going wrong in your stripe server endpoint?
[code]

#### Dashboard.Stripe verificat

[2018-05-01 20:14] remi-stripe commented on #451
FWIW this works fine if you use the `.then()` approach. Example this works:

[code]

There must be something wrong with the way the UsageRecord object is setup in the library but I have not found what that is yet.

[2018-05-01 20:17] thinkocapo commented on #451
You are correct :) I should have tried that sooner! Hopefully `.then()` will work in other areas of the stripe-node lib.

Thank you

[2018-05-01 22:55] delanick opened #452 "Can I use this on Nativescript apps?"
I'm busy building a Nativescript app and want to know if I can use this plugin to process payments or is this strictly server-side?

[2018-05-02 12:28] tinovyatkin opened #454 "Is it possible to `expand` anything (like `balance_transaction`) during `stripe.charges.create`?"
Hello,

As per https://stripe.com/docs/api/node#expanding_objects regarding `expand` parameter _This parameter is available on all API requests, and applies to the response of that request only_.

However, as per library source code you are whitelisting optional parameters in _basic methods_ (such as `charges.create`)  to `OPTIONS_KEYS = ['api_key', 'idempotency_key', 'stripe_account', 'stripe_ver

[2018-05-02 12:32] remi-stripe commented on #454
@tinovyatkin The whitelist is because those extra parameters should be in the second hash and not the first one. Expanding works fine on any API requests and if you try you should be able to confirm this quickly.

Here's a basic runkit example confirming it works: https://runkit.com/5a6b26c0e3908200129fbb5d/5ae9af7f843fb6001223efd6

[2018-05-02 12:32] #454 closed

[2018-05-02 12:36] ob-stripe commented on #452
@delanick You should only use the stripe-node library in server-side code, otherwise you'd risk exposing your secret API key.

[2018-05-02 12:36] #452 closed

[2018-05-02 12:43] ob-stripe commented on #449
Hey everyone, I'm closing this issue as it was caused by a transient network problem and not by the stripe-node library. If you still encounter this problem, please write to support at https://support.stripe.com/email.

[2018-05-02 12:43] #449 closed

[2018-05-02 20:05] atrauzzi opened #455 "TypeScript definitions for the client JS"
I'm not sure where the best place would be to report this, but I'd love to see TypeScript definitions for the CDN-delivered stripe client.

[2018-05-02 20:25] remi-stripe commented on #455
@atrauzzi It's something we've discussed before but we don't have plans to ship those for now. I'm going to close this issue as stripe-node is the server-side library and should not be used client-side.

I'd recommend to discuss this with our support team directly in case you want more details: https://support.stripe.com/email

[2018-05-02 20:25] #455 closed

[2018-05-03 10:59] atrauzzi commented on #455
Gotcha. And yeah, for anyone who reads this issue: I obviously don't want to use the node library client side.

I'll try to cross reference any public advocacy I do to this issue. That way people can have somewhere to go. Hopefully you guys can do a little pulling from the inside too! 😉

[2018-05-03 11:03] atrauzzi commented on #455
Here's a tweet for people to like and share: https://twitter.com/Omega_/status/991996412358520833?s=19

[2018-05-03 11:25] ob-stripe commented on #455
@atrauzzi They're not official and I can't vouch for their quality as I've never used them myself, but there are Typescript definitions for Stripe.js on the DefinitelyTyped repo: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/stripe-v3.

[2018-05-03 11:50] atrauzzi commented on #455
I'll check them out, thank you for finding this for me. 😅

_(I had done a search, but I think the nodejs library seems to swallow all the air in the search results.)_

[2018-05-07 23:00] SimonSchick opened #457 "Export Stripe error classes"
Would it be possible for all stripe error classes to be exported so we can catch them via `instanceof`?

[2018-05-10 03:14] shadow1349 opened #458 "Stripe.charge.IChargeUpdateOptions Missing Customer Option"
I am creating a TypeScript app that makes use of Stripe. I am trying to update a charge so that I can link them to customers after they have been created.

TL;DR
There is an online site for a dojo that allows users to create accounts (making them stripe customers as well), but also allows for walk-ins to pay via stripe (using their email).

If those walk-ins want to create an account later, I want

[2018-05-10 22:18] shadow1349 commented on #458
Ahh, ok thanks

[2018-05-12 00:52] brandur-stripe commented on #457
That seems reasonable. I've added a pull in #459 and will gather some feedback.

[2018-05-14 17:34] brandur-stripe commented on #457
Released as 5.10.0.

[2018-05-14 18:50] #451 closed

[2018-05-14 19:27] SimonSchick commented on #457
❤️

[2018-05-18 04:31] Serhioromano commented on #317
I have the same error tещщю ууы you do not have `name` but I pass it in metadata where I can pass any parameter I want.

[code]

Why do I get this error?

[2018-05-18 08:12] drmrbrewer opened #460 "Problem with stripe.usageRecords.create() since v 6.0.0"
Despite passing a valid `si_xxx` id into the `stripe.usageRecords.create()` call exactly as specified in the [docs](https://stripe.com/docs/api/curl#usage_record_create) I am now getting an error returned saying "Error: No such subscription item" and also something about invalid request.

The library was recently updated to version 6.0.0 (four days ago), and I myself started using that maybe two d

[2018-05-18 08:32] brandur-stripe commented on #460
Hi there,

Can you paste your code here?

In 6.0.0 we retooled this API (for usage record creation) a little bit to make it more consistent with the rest of the library and to fix a few bugs. Your invocation should now look like this:

[code]

The important part to note is that the subscription item is no longer passed in the standard arguments object and has instead become a position argument to

[2018-05-18 09:19] drmrbrewer commented on #460
Aah, yes I was still passing the subscription item via `subscription_item: subscriptionItemId` in the standard arguments object.  I've moved it out as per your emample (and indeed as per the docs... I failed to spot that there had been a change), and it's working again.  Thanks.

Could I maybe suggest a slightly more helpful error message, to inform those users (like me) who might get caught out b

[2018-05-18 09:43] brandur-stripe commented on #460
No worries! And sorry about the trouble here — in general we really try to make sure that we get things right the first time and don't have to make changes like this, but the feature was so new and we'd gotten the initial interface wrong that I made an executive decision to change it here.

And by the way, in the future if you ever see that the _major_ version of the library has been bumped, I'd h

[2018-05-18 09:43] #460 closed

[2018-05-18 09:58] drmrbrewer commented on #460
Thanks, I appreciate the really quick help on this.

This is surprising.  With metered billing, how are other users updating the user record to record chargeable usage?  Manually via the dashboard?  Or is metered billing just not very common?

Yep this one slipped through in amongst a whole bunch of other package version updates :)

And thanks for at least considering `usageRecords.retrieve()`...

[2018-05-18 10:04] brandur-stripe commented on #460
It's just not super common _yet_. The feature is just a few weeks old.

[2018-05-18 12:53] remi-stripe commented on #317
@Serhioromano That error is either different or the one you get is not for this code. I'd recommend talking to our support team directly for this and they can help by looking at your logs: https://support.stripe.com/email

[2018-05-18 12:55] drmrbrewer opened #461 "transform_usage cannot be combined with tiers"
When [creating a plan](https://stripe.com/docs/api#create_plan), there is the following restriction in place:

This is consistent with the dashboard UI.  But why is this restriction in place?  I would really like to make use of `transform_usage` *and* `tiers`, and it would seem to be pretty simple to implement on stripe's side... I can't see why the restriction is there.  Probably I'm missing some

[2018-05-18 13:01] remi-stripe commented on #461
@drmrbrewer github issues are here to report bugs specific with the stripe-node library. For a question like this, I'd recommend talking to our support team instead and they can help clarify the reason behind this restriction. You can talk to them here: https://support.stripe.com/email

[2018-05-18 13:01] #461 closed

[2018-05-18 13:39] Serhioromano commented on #317
@remi-stripe Yes it was from different code, create plan.

[2018-05-18 13:50] remi-stripe commented on #317
@Serhioromano glad you figured it out! For any follow-up questions, you can chat with our support team directly!

[2018-05-18 14:42] drmrbrewer commented on #461
I already did, but they don't know and it then disappears into some black hole.  I thought you might be able to provide some insight as to why it's not technically possible.  Clearly not.

[2018-05-18 14:44] remi-stripe commented on #461
I'm sorry but github is to discuss bugs for the library. This is not the right place to discuss this.

Ultimately though, `tiers` and `transform_usage` are quite new as they were released a few weeks ago only. We will continue improving the API and offering more features and likely lift this restriction in the future as we talk to more users and see how the existing APIs are used in the first plac

[2018-05-18 14:52] SamMatthewsIsACommonName commented on #331
For anyone coming here with a firebase functions setup as @mattxgreen mentioned, fyi this fix is in place now and you can just use

[code]

As first argument to constructor without any additional parsing etc

[2018-05-27 20:31] ChrisTalman commented on #296
@moberemk Pulling the definition from DefinitelyTyped sounds good to me. At the very least, it's a starting point. It'd have the benefits of centralising issue reporting and contributions. Once it's here, people can report issues, and we can work through contributing to the definition to resolve these.

[2018-05-28 23:59] dalan-stripe opened #464 "Docs do not match createRefund arity"
https://github.com/stripe/stripe-node/blob/699d1ba05707bb5000989b1b4117178c174094be/lib/resources/ApplicationFees.js#L20-L24

The docs indicate that one is able to provide both `amount` and `metadata` when making this call:

https://stripe.com/docs/api/node#create_fee_refund-amount

[2018-05-29 00:11] remi-stripe commented on #464
@dalan-stripe You can pass parameters to that method as documented in our official API documentation which works as expected. The `stripeMethod()` logic handles this automatically for you.

[code]

[2018-05-29 00:11] #464 closed

[2018-05-30 19:52] jlomas-stripe commented on #447
I again tried to reproduce this, and I can't, so I'm going to close this out.  Please do let me know if you can provide some more info to help reproduce it though, as I'm happy to keep digging if I have more to go on!

[2018-05-30 19:52] #447 closed

[2018-05-31 22:54] Luisdv93 opened #466 "Error handling crashing the server"
Node Version: v8.11.1
Npm Version: 6.0.1

Right now I'm the regular error handling I've using for the entire application, but once it reaches the throw error line the server totally crashes. Here's an example of my code if that helps.

[code]

[2018-06-01 06:16] murugan1515 opened #467 "require is not a function"
![image](https://user-images.githubusercontent.com/19861645/40824198-e403937c-6590-11e8-8c98-22559d865b62.png)

error showing "require is not a function". im using
node version 7.7.1,
npm version - 6.0.0,
ionic version - 3.20.0

[2018-06-01 07:48] ob-stripe commented on #467
Hi @murugan1515. stripe-node doesn't appear at all in the stacktrace in your screenshot, so I don't think this error is related to the library.

Closing this issue, but feel free to reply if you believe this is an issue with the library. If so, please provide code to reproduce the issue.

[2018-06-01 07:48] #467 closed

[2018-06-01 07:49] nickjanssen commented on #331
Much appreciated, thank you @SamMatthewsIsACommonName! I was struggling with this for a bit.

[2018-06-01 08:54] murugan1515 commented on #467
![image](https://user-images.githubusercontent.com/19861645/40831631-1e0daba0-65a7-11e8-8b35-df152d73c61e.png)

i tried "npm install @types/child_process" it can not found in npm install

[2018-06-01 08:57] ob-stripe commented on #467
@murugan1515 stripe-node is a server-side library. You cannot use it in frontend code.

GitHub issues are specifically for bugs or feature requests and are not a support channel. Please reach out to Stripe support at https://support.stripe.com/email to receive support about Stripe's API and its libraries.

[2018-06-07 20:59] SimonSchick opened #468 "Add .npmignore"
I noticed you are shipping a large amount of files that are most likely not used by any consumers:

[code]

Adding these to the npmignore should significantly reduce the package size!

[2018-06-07 22:55] brandur-stripe commented on #468
Yeah, this probably makes sense. I'll try to write one as a whitelist so that we can keep a fairly minimal set of files even as we add new ones.

[2018-06-07 23:03] SimonSchick commented on #468
If you write it as a whitelist you can either use an invert glob, with the first line being `/*` and all subsequent ones starting with `!` OR you can use https://docs.npmjs.com/files/package.json#files

[2018-06-07 23:04] brandur-stripe commented on #468
Excellent. Thanks!

[2018-06-07 23:07] SimonSchick commented on #468
Please note that npm automatically adds essential files such as `LICENSE`, `README` and `package.json`, there is no need to include these files manually.
You can verify the packaged version using `npm pack` which generates a tgz file with all the contents that would be published to npm.

[2018-06-07 23:40] #468 closed

[2018-06-07 23:43] brandur-stripe commented on #468
Released as 6.1.1.

[2018-06-13 13:51] Sirmorrison opened #470 "Unexpected end of input at 1:18515 when running npm install stripe --save"
[2018-06-13T13_48_53_978Z-debug.log](https://github.com/stripe/stripe-node/files/2098364/2018-06-13T13_48_53_978Z-debug.log)

[2018-06-13 13:55] remi-stripe commented on #470
@Sirmorrison You likely want to catch those errors and just retry the request when it happens. It often means that there's an issue with the connection between your server and ours and you got a truncated response.

[2018-06-13 13:55] #470 closed

[2018-06-27 07:22] techieshark opened #472 "Support for Stripe's stripe-mock"
This is either a feature request or a question.

I'd like to try https://github.com/stripe/stripe-mock but my server code is running stripe/stripe-node and it's not clear how one should tell the library to use a different host (`localhost`) and port (`12111`).

Would it be possible to add an good way to set those?

[2018-06-27 09:53] ob-stripe commented on #472
Hi @techieshark! You can use [`Stripe.setHost()`](https://github.com/stripe/stripe-node/blob/edea14167f77b85b741b90b012e0d2e5061f11d2/lib/stripe.js#L116-L124) and [`Stripe.setPort()`](https://github.com/stripe/stripe-node/blob/edea14167f77b85b741b90b012e0d2e5061f11d2/lib/stripe.js#L130-L132) to change the default hostname and port, or simply `Stripe.setHost()` and pass the port as the second argum

[2018-06-27 09:53] #472 closed

[2018-06-27 19:55] techieshark commented on #472
Thanks @ob-stripe, that worked well.

[2018-07-02 22:23] ORESoftware commented on #369
question - I see examples online where `source: 'tok_visa'`, what exactly does that mean? How can you create a new source with just a single string?

[2018-07-03 07:48] ob-stripe commented on #369
@ORESoftware Normally, creating a charge or adding a payment source to a customer is a two-step process:

1. Client-side, in your frontend code, you collect and tokenize the customer's payment information using [Stripe.js](https://stripe.com/docs/stripe.js) or [Checkout](https://stripe.com/docs/checkout). This creates a "token" that you then send to your backend server.

2. Server-side, in your ba

[2018-07-03 21:04] ORESoftware opened #476 "Prevent customer creation race conditions"
There is obviously the classic race condition:

[code]

this race condition is explained further here:

https://stackoverflow.com/questions/51144576/stripe-create-retrieve-customer-in-one-call/51150846#51150846

how do we mitigate this race condition with the Stripe API? It's unclear if it's possible and if it's not, that's bad.

[2018-07-03 21:08] the1mills commented on #476
yeah this is imporant as far as I can tell, can't figure out why this is not addressed in the API

[2018-07-03 21:10] brandur-stripe commented on #476
Hi there,

This may be a possibility that you'll have to remedy to some degree on your end. A few common possibilities:

1. If you're storing results to a database, create a unique field there for any particular `customer_email`. That way, when a second conflicting request comes back with a result, it'll error on a unique violation, and you can log that other customer ID to a separate table for ev

[2018-07-03 21:18] ORESoftware commented on #476
@brandur-stripe  yes, what we could do is create the customer first in our db. but say that customer is not a stripe customer yet, so there is no stripeId for the customer, so then we try to create a stripe account for that customer, but we still have that same race condition.

It has to be atomic on Stripe's end too. Right now you guys aren't doing that.

[2018-07-03 23:01] brandur-stripe commented on #476
You don't even need to create the customer first in your DB.

I'll try to be a little more concrete in my suggestions (using Postgres examples, but this will work in almost any relational DB). Say I create a schema like this one with an `email` and `stripe_id`:

[code]

Then I have to requests in flight that are concurrent and contending to be the first customer creation for a particular email. Af

[2018-07-04 01:39] ORESoftware commented on #476
Ok, sure say we have 2 concurrent requests to Stripe, both will succeed. Then we try to insert in our database, and only 1 will succeed, the first one. But then we have an extra Stripe account for that user, because we have two stripe accounts. Why would we want that? Why would stripe want that?

[2018-07-04 15:41] remi-stripe commented on #476
@ORESoftware You could also insert in your database before creating the customer on Stripe and then update that record with the corresponding customer id to ensure unicity.

A lot of merchants do have duplicate customers with the same email address for various reasons. We don't have plans to ensure unicity on our end for that reason.

Another hacky approach would be to use an idempotency key based

[2018-07-04 16:17] brandur-stripe commented on #476
@remi-stripe I didn't even think of this — clever :)

@ORESoftware It's admittedly a little bit of additional development, but a pretty functional solution here is to rescue a conflict in that case, and then insert the second customer record into another table like `stripe_objects_to_clean` with a schema like `(object, stripe_id)`, then have a background process periodically move through the table

[2018-07-04 16:17] #476 closed

[2018-07-04 18:41] ORESoftware commented on #476
hey all thanks yeah using the email address as the idempotency key sounds like a good solution. however, idempotency keys only last 24 hours.  But it should work as far as I can tell.

to be clear I am looking for this:

[code]

where `retrieveOrCreate` is atomic - the way to enable that with stripe, since email does not have to be unique, is to have something like a uniqueKey, which would be the

[2018-07-11 22:38] egeste commented on #225
[code]

[2018-07-13 04:33] pradt commented on #296
@sampsonjoliver  your method worked for me. Thanks

[2018-07-14 17:23] MarkHerhold opened #478 "Exponential Backoff"
The stripe docs say

Does the Stripe Node.js library support retries and exponential backoff?

[2018-07-14 18:04] remi-stripe commented on #478
@MarkHerhold It's not something that the library supports out of the box yet unfortunately. Going to tag is as "future" since it's something we should definitely implement at some point (we'd love a PR if you're up for it!).

[2018-07-14 18:16] ykessler commented on #92
This no longer works. Is there another way?

[2018-07-14 19:20] remi-stripe commented on #92
@ykessler This should still work. I'd recommend talking to our support team directly and they can help investigate: https://support.stripe.com/email

[2018-07-14 19:22] ykessler commented on #92
I apologize- my issue is with the Ruby API. Please disregard.

[2018-07-14 20:20] danglq opened #479 "stripe error with StripeConnectionError"
i used stripe with nodesj 8.11.3 but met error StripeConnectionError
at Object.onceWrapper (events.js:313:30)
0|www      |     at emitNone (events.js:106:13)
0|www      |     at ClientRequest.emit (events.js:208:7)
0|www      |     at TLSSocket.emitTimeout (_http_client.js:706:34)
0|www      |     at Object.onceWrapper (events.js:313:30)
0|www      |     at emitNone (events.js:106:13)
0|www      |

[2018-07-16 13:13] remi-stripe commented on #479
This looks like an outdated openssl version installed, at least the one used by your Node.js environment. You should look into upgrading your openssl version on your system to a more recent ones.

You also should not be creating tokens with stripe-node as this library is used server-side. Card details should be collected client-side via Elements: https://stripe.com/docs/stripe-js#elements

[2018-07-18 11:41] ob-stripe commented on #401
This was implemented by @jjsquillante in #471 and released as 6.3.0.

[2018-07-18 11:41] #401 closed

[2018-07-20 12:34] vjpr commented on #261
I made this type and got same error: `global = require('bluebird')`

[2018-07-25 12:47] amit-mn opened #480 "Stripe not accepting token from stripe.createToken(card) in stripe.customers.createSource API"
I am creating card token by using stripe.js on my frontend site. and creating source for customer with this token like below:

[code]
But I have receiving error response like below:

[code]
I am using test mode of stripe.
I searched on web but didn't find any solution for this.

[2018-07-25 12:50] remi-stripe commented on #480
@amit-mn This error indicates that you created the card token with one API key from one account and then tried to use the token to create a customer with another API key from another account. This is not a bug in the stripe-node library itself.

I'm going to close this out but don't hesitate to reach out to our support team if you have any follow up questions: https://support.stripe.com/email

[2018-07-25 12:50] #480 closed

[2018-07-25 12:54] amit-mn commented on #480
@remi-stripe Thanks for replying.
But I am using same API on both client side and server side.
client side using : "pk_test_****"
server side using : "sk_test_****"

Do I have to use same keys in both side?

[2018-07-25 12:55] remi-stripe commented on #480
@amit-mn It is 100% a key issue and you likely are mixing the keys. Please follow up with our support team as they can look into your account and help you figure things out.

[2018-08-01 19:49] onidnalbj commented on #479
Hey @danglq

This error is due to the obsolete version that you have of OpenSSL (the one of the system) since it is having connection problems through the TLSSocket.

Update the version and try again, use the same version as you (not in the same scenario) but I did not have that error since I have the OpenSSL updated.

[2018-08-02 02:43] danglq commented on #479
@onidnalbj Thank you so much

[2018-08-02 02:43] #479 closed

[2018-08-03 08:29] Koshukey opened #484 "question which is similar to #265"
In #265, it is talked about "Module not found: Error: Cannot resolve module 'child_process'".

I face the same issue and cannot figure out.

I am using react-stripe-checkout with next.js, react.js and firebase.

It means that I do not have a backend server.

I understood

[code]
However, I am confused what I should do to use stripe-node to run stripe payment API.

Can u give some advise?

[2018-08-03 08:34] remi-stripe commented on #484
@Koshukey A server is required to use Stripe today. Client-side you create a card token or a source with Checkout or Elements. Once you have that token or source id, you send it to your server where your code would run.

Since you use Firebase, you don't have to use stripe-node yourself directly. You would use Firebase's functions to handle the charge creation. You can see a tutorial here: https:/

[2018-08-03 08:34] #484 closed

[2018-08-07 03:28] gmeghalg commented on #369
@ob-stripe - Appreciate your help.

One more question...

1.) In my case, I'm using the "token" approach while attaching a source of customer.
await stripe.customers.createSource(customer.id, {source: token}); //token came from UI and customer I retrieved from .retrieve call

Now, how can
1.) Retrieve a source with 'token' for given customer id
2.) Update a source with 'token' for given customer i

[2018-08-07 09:14] remi-stripe commented on #369
Tokens `tok_1234` are one-time use. They can not be re-used after you use them to attach a card to a customer. When you do, the source returned will have a unique id `card_12345`. That is the id you would store in your own database to be able to retrieve update or delete the card in the future.

Since this is not related to a bug in the library, you can always follow up with our support team direc

[2018-08-08 21:47] ezetaraborelli opened #486 "Customers batch creation"
Hi, is there a way to create multiple customers on a single request? On my app I have to create a team with multiple members, and each member should be added on Stripe as a customer for future charges. Right now I'm making a request for every single member, but on big teams it is taking so much time (~5s for each request).
My second option if what I ask is not possible is to create the customer ju

[2018-08-09 06:44] remi-stripe commented on #486
@ezetaraborelli It's not possible to batch create customers today. You can only create one customer per API request. You can create multiple customers in parallel though so you could change your code to run multiple requests and just wait for all of those to complete.

[2018-08-09 06:44] #486 closed

[2018-08-10 10:33] thomasedwards opened #487 "Promise from createToken() should reject on failure"
Currently `createToken()` works like this:

    stripe.createToken().then(resolve => {
        if (resolve.error) {
            // error
        }
        if (resolve.token) {
            // success
        }
    }, reject => {
        // ¯\_(ツ)_/¯
    })

This causes a problem when chaining:

    stripe
        .createToken()
        .then(resolve => {
            if (resolve.error) {

[2018-08-10 10:41] #487 closed

[2018-08-10 10:41] thomasedwards commented on #487
Obviously the wrong repo for this 🤣

[2018-08-17 11:27] pincheira commented on #341
@manu-st 's solution is what I got it working with. The thing is that most people's express setup is doing:

[code]

which sets the json parser for all body objects by default. So I just now pass a setup object to it that includes the block that @manu-st showed.

[code]

That object being:

[code]

[2018-08-17 18:32] karlr-stripe commented on #341
(posting this for visibility for people who find this through search engines) If you use [express-generator](https://expressjs.com/en/starter/generator.html) to create your project, it will likely add the `app.use(express.json());` [line](https://github.com/expressjs/generator/blob/master/bin/express-cli.js#L172) to your app.js which also sets the JSON parser on all request bodies by default. So t

[2018-08-19 07:58] aloysius-tim opened #489 "On initial create: Received unknown parameters: country, type"
Hi there !

Trying to create a new customer, following the documentation I get an error:
`Received unknown parameters: country, type`

Here's my few line of code which are exactly the same than in the official doc (https://stripe.com/docs/connect/custom-accounts#country) -->

[code]

Thanks for your help

[2018-08-19 10:35] aloysius-tim commented on #489
`const creation = await stripe.accounts.create({`

I wasn't using the good endpoint...

[2018-08-19 10:35] #489 closed

[2018-08-21 03:19] jamesone opened #490 "How can I add a custom stripe backend URL so I can use my mock server?"
I'm using the following mock server: https://github.com/stripe/stripe-mock

I confirmed that the server is running ✅ When visiting the URL it shows:

[code]

How can I update the URL for my stripe npm module? I tried the following:

[code]

Without any luck

[2018-08-21 08:46] ob-stripe commented on #490
Hi @jamesone, check out https://github.com/stripe/stripe-node/issues/472#issuecomment-400613412 which explains how to set up stripe-node to talk to stripe-mock.

[2018-08-21 08:46] #490 closed

[2018-09-03 11:04] twumm commented on #225
Hi @brandur-stripe !

May I know the timeline for this - if available :) ?
Also, can there be another key similar to `has_more` - **in the invoice list object** -  which tells whether there are previous items?
It will be very helpful in setting state of buttons to active or not.

I will appreciate any feedback on this.

Thanks

[2018-09-04 20:54] MatheusAlvesSouza opened #494 "ConstructEvent Webhook"
Node version : 8.11.3
Stripe version : 6.7.0

I'm having a problem with the validation request from webhook. My application has a parse middleware to JSON with the lib [body-parser](https://www.npmjs.com/package/body-parser#examples) :

[code]
And when I'll use the function:

[code]
The validation throw an exeption with a validation error message:

`Error: No signatures found matching the expected

[2018-09-04 21:03] remi-stripe commented on #494
@MatheusAlvesSouza there have been multiple issue threads discussing this before which might help, especially this one: https://github.com/stripe/stripe-node/issues/341

Often, it's due to your own tooling parsing the JSON when we actively require that you use the raw JSON from the body without any parsing or encoding on top of it.

Your code right now takes the parsed JSON and stringify it. Which

[2018-09-04 21:03] #494 closed

[2018-09-04 23:36] ScottAgirs opened #495 "TypeError: stripePackage is not a function / TypeError: Stripe is not a constructor"
Trying to implement back-end and can't figure out if this is a bug or I'm missing something

**Stack:**
Meteor w/ React

_**Scenario #1:**_
[code]

_**Result:**_

_**Scenario #2:**_
[code]

_**Result:**_

[2018-09-04 23:37] brandur-stripe commented on #225
@twumm Geeze, just looking at my comments above I realize that apparently I'm a huge liar — sorry about that. I thought I'd finally convinced someone to take a crack at it, but something else came up, and it didn't end up happening.

I'm asked someone better familiar with good JS conventions to look again. If that doesn't work out, remind me again and I'll take a crack at it myself.

@egeste Thank

[2018-09-04 23:54] brandur-stripe commented on #495
@ScottAgirs You can see in the source that `Stripe` is a conventional object constructor that's just a function:

[code]

Here's a simple test script that I ran locally that I think accomplish what you're trying to do (and works for me):

[code]

I suspect something in your stack is causing this to fail, and I'd suggest seeing if you can find out what exactly the `stripePackage` variable contains

[2018-09-04 23:54] #495 closed

[2018-09-08 00:27] rattrayalex-stripe commented on #225
Hey all!

I'm finally taking a swing at this – sorry for the delay!

I have a partial implementation towards this vision:

[code]

I'm hoping to make more headway on Monday, and maybe put up a WIP PR then. I'm not sure I'll support all the features above, and I haven't quite proved out that everything there is possible (though I think it is). Eg; I'm not sure we'll support _both_ `return false;` a

[2018-09-08 07:30] billinghamj commented on #225
Wow, that’s a lot of variations to cover 😬 but looks great!

I could see there being issues with the `return false` version where people forget to return false or return some other falsely value. Due to the significant cost of it continuing to run forever without the developer realising, I wonder whether it’d be better to answer in the affirmative instead - having to specifically `return true` for

[2018-09-08 07:33] billinghamj commented on #225
Ah also one thing I’d note - probably best to just have `next(true)`, so then unrelated returns don’t have an impact. With setups like Coffeescript or `do` blocks, implicit returns do happen

[2018-09-08 07:34] billinghamj commented on #225
And finally, could you perhaps just have `next()` with no args? If you want to continue, call it. If you want to finish, don’t.

[2018-09-08 07:40] billinghamj commented on #225
Also I do think that the callback to receive all once it’s done could be problematic.

First, if you’ve stopped part way through, presumably it only gives you the ones it’s seen so far - rather than all of them.

Second, if you’re iterating over a lot, this could quite likely cause an out-of-memory issue. Eg if you had millions of customers and iterated over all of them this way for memory efficie

[2018-09-10 20:03] rattrayalex-stripe commented on #225
Thanks for the feedback @billinghamj !

I think you're right that `autoPagingEach` shouldn't fill up memory by default; I'll remove the full list of items from that API, but may add a complementary `autoPagingToArray` helper, either as a method or standalone util.

Unfortunately, reading from async iterators without `for await` sugar is a bit of a pain, so I'd rather not force everyone into that.

[2018-09-11 02:12] rattrayalex-stripe commented on #225
WIP up at https://github.com/stripe/stripe-node/pull/496

[2018-09-12 15:00] peterjuras opened #497 "Apple Pay test token"
Hi!

Is there an apple pay specific test token which can be used to test apple pay flows? I'd be looking for a token that is similar to other test tokens from the [Testing guide page](https://stripe.com/docs/testing#cards).

Kind regards,
Peter

[2018-09-12 15:09] remi-stripe commented on #497
@peterjuras Unfortunately this is not something we support today. You would have to go through the flow in Test mode to get one, that's the only way.

I'm closing this out since it's not a question or bug about our stripe-node library. If you have any follow up questions do not hesitate to ask our support team: https://support.stripe.com/email

[2018-09-12 15:09] #497 closed

[2018-09-18 11:02] wdmtech commented on #341
For those travelling seeking solutions for [Feathers.js](https://feathersjs.com) (like I was) check out [feathers-stripe-webhooks](https://github.com/fixate/feathers-stripe-webhooks) which will do all this for you 👍

[2018-09-19 00:57] rattrayalex-stripe commented on #225
This has been released in [v6.11.0](https://github.com/stripe/stripe-node/releases/tag/v6.11.0)!

Docs are [here](https://github.com/stripe/stripe-node#auto-pagination).

Thanks for your patience, all! Hope you like the result.

[2018-09-19 00:57] #225 closed

[2018-09-19 19:23] wangjiejacques opened #501 "Checking Webhook Signatures not working"
Node version: v10.3.0
Stripe Version: ^6.11.0

I'm testing the webhook signatures,
[code]
it seems the request's body already have the value without `constructEvent`,    I can print the body by this code `console.log(req.rawBody.toString())` without `constructEvent`. and `stripe_env.webhooks.constructEvent(req.body, sig, endPointSecret)` not works for me.
It works for `let event = stripe_env.webho

[2018-09-20 00:24] #501 closed, assigned to nobody

[2018-09-25 08:09] svarlamov opened #503 "[Docs] Usage record summaries method typo"
In the docs [here](https://stripe.com/docs/api/node#usage_record_summary_all) there is a typo that causes the call to fail.

[code]

Should be replaced with:

[code]

EDIT: There's also no example of how the subscription item ID should be passed...

[2018-09-25 11:01] remi-stripe commented on #503
@svarlamov Thanks for the report, I'll work with the docs team internally to get this fixed. The code should look like this:
[code]

[2018-09-25 11:01] #503 closed

[2018-09-30 06:46] markusgattol commented on #296
What's the current status on this issue?

[2018-10-01 06:34] markusgattol commented on #296
I second that, if we can't get first-hand stripe support on this for now, we should at least clarify the use of `@types/stripe` in the docs.

[2018-10-04 00:41] AldanisVigo opened #504 "Related to https://github.com/stripe/stripe-node/issues/246"
I seem to be having the exact issue described here: https://github.com/stripe/stripe-node/issues/246

I thought it was fixed but when I looked at the code for the current version, the problem persists. The code seems to have never been updated.

My Error:
TypeError: The header content contains invalid characters
    at ClientRequest.OutgoingMessage.setHeader (_http_outgoing.js:359:11)
    at new C

[2018-10-04 01:58] remi-stripe commented on #504
@AldanisVigo Can you clarify which version of stripe-node you are currently using? When I look on master, the code shipped in https://github.com/stripe/stripe-node/pull/259 seems to still be there as you can see here: https://github.com/stripe/stripe-node/blob/master/lib/stripe.js#L227-L259

Can you also clarify what values your server sends for the headers?

[2018-10-04 04:42] AldanisVigo commented on #504
I am using "stripe": "^6.12.1". And my code for the firebase function looks like this:

team = "team_one"
markerId = "marker_two"
paymentId = "-LNxIqSgVlHtNq3GCwBG"
payment.amount = 999

below

import * as functions from 'firebase-functions'
import * as admin from 'firebase-admin'
admin.initializeApp(functions.config().firebase)
import * as Stripe from 'stripe'
const stripe = new Stripe(functions.

[2018-10-04 13:43] remi-stripe commented on #504
@AldanisVigo Would you be able to share the value of the headers before the crash? You would need to modify the library to print it before that crash

[2018-10-05 00:16] AldanisVigo commented on #504
I have been doing some testing. I don't think the problem is with the
library, it seems to be a configuration issue with Firebase Cloud Functions
because I spun up a Heroku server using the exact same code using the exact
same version of stripe and now it  works flawlessly. I apologize for the
inconvenience. Thank you for your time and help.

On Thu, Oct 4, 2018 at 8:43 AM remi-stripe <notificatio

[2018-10-05 02:50] remi-stripe commented on #504
@AldanisVigo No worries at all! I'm glad you were able to narrow things down after all!

[2018-10-05 02:50] #504 closed

[2018-10-05 05:11] tomchomiak commented on #331
For those of you struggling with this because you set bodyParser.json() as the default parser for your 'application/json' routes in a config somewhere, overriding it in a route later on like below will NOT work.

[code]

Instead, you can set this in your config file like so and then set the rest of the 'application/json' routes to use the JSON body parser. Make sure to update '/stripe/webhook' to

[2018-10-05 05:33] tomchomiak commented on #331
If you really want to get fancy then you can use a regular expression or some wild card expression in your config file like so.

[code]

Any routes that have '/raw-json/' in their path with use bodyParser.raw() and the rest of your routes that accept 'application/json' will get a parsed JSON body.

[code]

[2018-10-06 17:39] rodrigoreal opened #505 "Can't find usageRecords"
I'm trying to use the [usage records](https://stripe.com/docs/api?lang=node#usage_record_create) api, but i can't find it using the 6.12.1 version.
<img width="520" alt="captura de tela 2018-10-06 as 14 38 19" src="https://user-images.githubusercontent.com/8595202/46574147-897fa280-c975-11e8-8597-7a5297d2fb5b.png">

[2018-10-07 00:57] remi-stripe commented on #505
@rodrigoreal This is definitely available in that version. We added it back before 6.0 though we changed the prototype on 6.0.0. If you can't see it you are likely relying on an old version of the library

[2018-10-07 01:30] rodrigoreal commented on #505
I'm definitely not using an old version, i've just installed using `npm install stripe@latest` to be safe and in my `node_modules/stripe/version` is showing `6.12.1`.
Can you take a look and see if it is available for you?

[2018-10-07 02:10] remi-stripe commented on #505
@rodrigoreal I'm sure it is available yes and the code works for me. Do you get an error when you _try_ the code or is it just not part of the auto-completion? Are you using something custom for that such as typescript definitions maybe? Those are not built by Stripe and could be out of sync.

[2018-10-07 02:17] rodrigoreal commented on #505
Sorry about that, i was using an old typings version.
I've just updated the typings and it is available now.

[2018-10-07 02:17] #505 closed

[2018-10-11 14:08] BuffMcBigHuge opened #506 "invst_{id}"
I'd like to link the Stripe invoice page on our service for the customer to view. Can we obtain the `invst_{id}` object from the API?

ex: `https://pay.stripe.com/invoice/invst_{id}`

[2018-10-11 14:39] remi-stripe commented on #506
@BuffMcBigHuge You can use the following property: https://stripe.com/docs/api#invoice_object-hosted_invoice_url

Github issues should only be used to report bugs in the libraries though and for questions like this you should instead talk to our support team here: https://support.stripe.com/email

[2018-10-11 14:39] #506 closed

[2018-10-11 15:39] BuffMcBigHuge commented on #506
Thank you @remi-stripe , acknowledged.

[2018-10-12 22:05] brackio opened #508 "feat request: filter charges by sourceId"
Feature request.
It would be great to include into Stripe API the ability to filter charges by sourceId.

Use-cases
My use-case allows customers to attach multiple sources (including multiple credit cards).  However, it is currently not possible to view all charges for a specific credit card.

[2018-10-18 19:35] tyscorp opened #511 "Feature Request: Promise-based autoPagingEach API"
I love the new `autoPagingEach` functionality but it would be cool if the API was a bit more intuitive. The callback would either wait for a promise resolving to continue iteration or for a promise rejection to exit.

e.g.
[code]

I've been wrapping the iteratees with a helper function[0] to enable this, but it would be cool to have first-class support. This implementation does swallow all errors,

[2018-10-18 20:05] rattrayalex-stripe commented on #511
Hey @tyscorp , that's an interesting idea – I'll take a look at it.

We would want a nice way to break without interfering with good error handling. I'm also a bit hesitant to make the api even more overloaded; the docs are already quite complex.

That said, I do think the example you provide sounds compelling.

What do you think about returning `false` from an async function (or, equivalently, re

[2018-10-18 21:32] rattrayalex-stripe commented on #511
It turns out we already have support for this! See https://github.com/stripe/stripe-node/pull/512

Thanks @tyscorp ! Let me know if you have any issues or further feedback. Closing for now but feel free to re-open.

[2018-10-18 21:32] #511 closed

[2018-10-18 21:37] tyscorp commented on #511
Lol that's awesome. Cheers! 👍

[2018-10-24 02:49] jpike88 commented on #296
@rattrayalex-stripe @ob-stripe @daz-stripe the year is 2018, TypeScript has been dominating JS projects. The demand is obvious, it's not rocket science to maintain official TS definitions, yet this 18 month old issue has been totally ignored by the Stripe team. Care to explain why?

[2018-10-24 06:28] markusgattol commented on #296
create-react-app has typescript support since two days too
https://github.com/facebook/create-react-app/pull/4837

I'd also like to know how I could help to get stripe to shift to typescript support? What can the community do to help you guys? is it just the definitions? the build?

[2018-10-24 15:58] rattrayalex-stripe commented on #296
Hey everyone,

I'm a big fan of types and we'd love to provide TypeScript (and ideally Flow) definitions. It's something we've talked about for a while as a team.

If we were to provide types for the `stripe` npm package, we'd want to ensure their accuracy across the entire API, which is fairly tricky. We're making active progress towards this goal, but unfortunately we won't have this ready in th

[2018-10-24 16:15] rattrayalex-stripe commented on #296
It looks like the DefinitelyTyped [definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/stripe/index.d.ts) are pretty good and [actively maintained](https://github.com/DefinitelyTyped/DefinitelyTyped/commits/master/types/stripe/index.d.ts), and [the npm package](https://www.npmjs.com/package/@types/stripe) for it has shown steady growth. I hope to put up a PR today add

[2018-10-24 16:50] markusgattol commented on #296
Hi Alex, thanks much for the info. Looking forward to types across the entire stripe API!

I realize it's a lot of work, but then the fair question needs to be asked if in the end flow is even necessary when you can provide typescript support on the API.

Maybe focus on typescript first, and once that's done go and do flow. Doing both in parallel would just mean it takes longer overall until there

[2018-10-24 17:17] iamclaytonray commented on #296
I was going to say the same thing. It doesn't make much sense to try to accomplish both together. Get one to stability and move onto the other. Of course, I vote on TypeScript claiming higher priority because of this issue alone, and also, most devs that I know using Node opt-in for TS over flow, at least in the context of Node.

[2018-10-24 17:31] rattrayalex-stripe commented on #296
We're aware of the relative popularity of TypeScript and Flow 🙂 I don't think we'd let Flow support block TypeScript support.

I'm limiting this thread to protect subscribers' inboxes since there isn't much to do here other than wait. The ask is pretty straightforward.

https://github.com/stripe/stripe-node/pull/513 adds docs for the DT package to the readme. If there are issues with those instruc

[2018-10-26 15:13] MarkMurphy opened #514 "Required vs urlParams"
Looking at the source code I'm a little confused about `StripeMethod`s api. It doesn't document `urlParams` but expects that as part of `spec`. It also _**does**_ document `required` but doesn't appear to use it.

[2018-10-27 01:41] remi-stripe commented on #514
@MarkMurphy The API ref mention that the parent id is required even though it is part of the URL. So for example to retrieve the card card_abc on customer cus_123, you hit the url `/v1/customers/cus_123/sources/card_abc` where `customer` and `id` are required (and part of the URL).

In stripe-node it looks like this:

[code]

Let me know if this doesn't help!

[2018-10-29 14:17] MarkMurphy commented on #514
@remi-stripe Apologies, I was referring to the internals of the stripe-node library.

ie. https://github.com/stripe/stripe-node/blob/master/lib/StripeMethod.js#L13
The above method does not document `urlParams` but it is used [here](https://github.com/stripe/stripe-node/blob/master/lib/makeRequest.js#L11):

Also, what does this do: https://github.com/stripe/stripe-node/blob/88055dff171ec1d6cbcd43f

[2018-11-04 20:48] DanielGibbsNZ commented on #341
Unfortunately this does not seem to be the case. I get the same problem even when using `feathers-stripe-webhooks`.

[2018-11-05 10:06] ob-stripe commented on #514
Hey @MarkMurphy, sorry for the late reply. You are correct: `required` should really be `urlParams` in the documentation. `required` doesn't actually do anything. I've pushed a fix in #516.

[2018-11-05 17:17] #514 closed

[2018-11-09 04:08] elie222 opened #517 "stripe.invoices.finalizeInvoice is not a function"
`stripe.invoices.finalizeInvoice` appears in the docs, but not in the npm package. I'm on the latest version.

[2018-11-09 04:10] remi-stripe commented on #517
Hey @elie222! Sorry for the delays on that one. The work is ongoing in https://github.com/stripe/stripe-node/pull/509 and we will likely release a new version tomorrow!

[2018-11-13 15:20] andreverbenergy opened #518 "Differences between creating invoice manually vs with API"
When creating an invoice on the dashboard, you create the line items specific to the invoice.

When creating an invoice with the API, unless I'm missing something in the docs, there's no way to pass line items manually, you have to create them with separate API calls, and then make the call to create the invoice, which then pulls all open line items associated with the customer.

I can't seem to f

[2018-11-13 17:40] remi-stripe commented on #518
@andreverbenergy The reason is mostly for backwards compatibility reasons. For a long time, it was not possible to create an empty invoice and you always need to have invoice items on the customer. If we were to change this behavior, it would be a breaking API change.

For now, we limited the feature to the dashboard where it's easy to do custom work. We're hopeful that we can add this feature in

[2018-11-13 17:40] #518 closed

[2018-11-13 17:42] andreverbenergy commented on #518
If an invoice is unable to be created, is there a standard way to delete the invoice items associated with it so that the next invoice created doesn’t automatically include them?

[2018-11-13 18:14] remi-stripe commented on #518
You can delete pending invoice items via the API: https://stripe.com/docs/api#delete_invoiceitem

[2018-11-16 23:34] stevus commented on #341
Why do these issues keep getting closed? Feels like there's a big issue with the signature validation code around needing the raw body. I am also having this problem but hard to find a solution when every issue gets diagnosed as user error.

[2018-11-17 01:54] jlomas-stripe commented on #341
This isn't a `stripe-node` problem, it's a problem with your web framework, or the way you've configured it or are using it - there isn't really much we can do here unfortunately.

In order to calculate the signature, `stripe-node` needs the _exact, complete raw text body_ as received by your application; if your framework doesn't handle making that available because it's parsed/altered it in some

[2018-11-18 20:34] vivaldi-va commented on #331
Was having this issue just now, my solution was to put the raw body parse *before* the json parser. No need to assign it to custom routes, and it doesn't affect my existing endpoints.
e.g.

[code]

[2018-11-21 20:20] jperasmus opened #521 "Subscription update method mutates items"
Hi there,

Thanks for this awesome library and for Stripe in general. A-grade 👏

### Using:
[code]

When performing an update of a subscription's `items` I've discovered that the `stripe.subscriptions.update()` method mutates the payload provided to it by transforming the `items` from an array to an object with the array indexes as the object keys. This can lead to very unexpected behaviour when r

[2018-11-22 06:39] reinhardholl opened #522 "Plan name on invoice"
Hi,

I have built a stripe integration using stripe-node and it was really easy to do, thanks for that! We have a single product, and multiple plans on this product. One issue I am facing is that the line items on my subscription invoices display the product names, and no trace of the plan name? This is pretty confusing for our customers. Is there anyway I can change this behavior using the api/li

[2018-11-22 15:20] remi-stripe commented on #522
@reinhardholl Github issues should be limited to bugs with our library. For questions about our API or our product, you should instead contact our support team here: https://support.stripe.com/email

The Product name will always be what's shown on the invoice though. The Product is the high level abstraction and then the plans are really multiple versions of that same product, such as for differen

[2018-11-22 15:20] #522 closed

[2018-11-22 19:01] reinhardholl commented on #522
Hi @remi-stripe, thanks. I ended up changing to single plan per product.

[2018-11-23 15:42] stevus commented on #341
@jlomas-stripe it might indeed be a framework issue, but the way the Stripe node package requires a raw payload doesn't fit too well with some well established patterns for body-parsing etc. It just feels like this implementation only works with hobby or quick-hack builds where the POST handler is right at the Express app root where only a body parser is used.

If you have a solution that works we

[2018-11-23 16:04] ob-stripe commented on #341
@stevus I don't think that's specific to Stripe -- all implementations of webhook signatures I'm aware of rely on a MAC or digital signature that uses the raw payload. I understand this is a common pain point for Node users, but as @jlomas-stripe said above I'm not sure there's much more we can do to help with this.

@SamMatthewsIsACommonName There's no reason why signature verification would fail

[2018-11-23 16:13] SamMatthewsIsACommonName commented on #341
@ob-stripe reason or not this is what happens, I'm purely going off of what is happening:

<img width="1240" alt="screen shot 2018-11-23 at 11 11 10 am" src="https://user-images.githubusercontent.com/21329063/48952553-99951680-ef10-11e8-98d9-3567a3787a63.png">
<img width="1237" alt="screen shot 2018-11-23 at 11 11 27 am" src="https://user-images.githubusercontent.com/21329063/48952554-99951680-ef1

[2018-11-23 16:19] ob-stripe commented on #341
Sorry, I wasn't trying to imply that you were wrong and the issue you're describing wasn't happening, merely that it _shouldn't_ be happening.

I think Firebase's `rawBody` returns a Buffer instance. Can you try converting it to a string? E.g. with `req.rawBody.toString('utf8')`

[2018-11-23 16:30] SamMatthewsIsACommonName commented on #341
Ok great thanks, I thought the battle was won finding the right way to get the rawBody haha. Thanks!

[2018-11-23 18:32] ob-stripe commented on #341
@SamMatthewsIsACommonName We just released stripe-node 6.15.1 which should let you pass `Buffer` instances to `Webhook.constructEvent()` without having to manually convert them to strings yourself. Thanks for reporting this, hopefully this makes the library a bit easier to use for you and other Firebase users!

[2018-11-23 19:36] SamMatthewsIsACommonName commented on #341
Great thanks!

[2018-11-26 04:37] SamMatthewsIsACommonName commented on #341
Ok after monitoring a while, the error is still happening (with latest release 6.15.1).
I included a log check of:
[code]

And this is what you're seeing in the screen shots. So it's correctly identifying it as a buffer for both the ones that work (most of them) and the ones that don't(some of them), however the toString doesn't seem to be solving the issue for all

<img width="1248" alt="screen s

[2018-11-26 06:31] allanchau opened #524 "Can't update subscription."
I am trying to update a subscription using:
[code]

The docs https://stripe.com/docs/api/subscriptions/update say the `customer` parameter is required, but when I pass that is says
[code]

Without the customer, the request says it cannot find the subscription although it is in the dashboard (and working in the docs)?

[code]

[2018-11-26 10:36] ob-stripe commented on #341
@SamMatthewsIsACommonName Argh :/ Can you try adding some code to manually extract the event IDs in case the signature verification fails (something like `JSON.parse(req.rawBody).id` should work), and reach out to support at https://support.stripe.com/email with some of those event IDs as well as their respective `Stripe-Signature` headers? Hopefully we can figure out what these events have in com

[2018-11-26 12:15] remi-stripe commented on #524
@allanchau The first subscription failed because you passed a customer id which is unexpected. The second one failed because the id of the subscription you passed (`sub_E1aw60PzckDfNj`) is already canceled so updating it now is impossible. It was canceled on November 23rd which you can confirm in the Dashboard directly!

If you have follow up questions, feel free to reach out to our support team h

[2018-11-26 12:15] #524 closed

[2018-11-26 14:14] SamMatthewsIsACommonName commented on #341
@ob-stripe will do. I'll start writing each fail to the database with the headers and ids. It does seem to be related to events weirdly because they come in bursts of all failing at once or all passing... So it's like there is some time where stripe sends a lot of events of some type every day. Anyway I'll log them all to database as you suggest. Thanks

[2018-11-26 14:43] jperasmus commented on #521
Hi @ob-stripe

Thanks for the reply. The reason I used the lodash `cloneDeep` as an example is that in the same file I saw the `lodash.isplainobject` package used in the same way.

JavaScript, unfortunately, doesn't currently have natively functionality to deeply clone an object, so you could either create a small utility yourself or use something like lodash's `cloneDeep` that has been battle tes

[2018-11-26 14:56] lomegg commented on #341
Sounds like some async process mutating the body and sometimes it's being slower than stripe check

[2018-11-26 15:33] SamMatthewsIsACommonName commented on #341
Oh wow, ok I've found the issue. The ones that are failing are coming from test data... I'm so sorry! It was still enabled and hitting the endpoint with events from test accounts etc... So sorry for the time wasting!

[2018-11-26 15:34] ob-stripe commented on #341
@SamMatthewsIsACommonName No worries! Glad you figured it out and thanks for letting us know :)

[2018-11-26 17:23] normundslauva opened #525 "payment"
Please only file issues here that you believe represent actual bugs or feature requests for the Stripe Node library.

If you're having general trouble with your Stripe integration, please reach out to support using the form at https://support.stripe.com/ (preferred) or via email to support@stripe.com.

If you are reporting a bug, please include your Node version and the version of the Stripe Node

[2018-11-26 17:24] #525 closed

[2018-11-26 19:17] rattrayalex-stripe commented on #521
Thanks for reporting @jperasmus , and for the suggested fix! I'll try to take a look at this today.

[2018-11-26 22:04] #521 closed

[2018-11-27 00:53] SimonSchick commented on #457
Hey sorry to bump this but the way it was implemented is a little annoying to use.
Could you please export the error classes on the root object?

I'm using this library with typescript and it's a little bit annoying to use `instanceof` with classes that are properties on an instance.

Can you please make it so that `require('stripe').errors === require('stripe/lib/errors')` pretty please?

[2018-11-29 17:01] lephenix1234 opened #528 "stripe webpack error"
when I install stripe I have this error
__webpack_require__(...).createServer is not a function

[2018-11-29 17:03] remi-stripe commented on #528
Hey @lephenix1234. This is expected and you can read more in all the past issues in the repo referencing this error such as https://github.com/stripe/stripe-node/issues/265

stripe-node is a server-side library and should not be used client-side so you should not include it in your webpack bundling.

[2018-11-29 17:03] #528 closed

[2018-11-30 08:42] lephenix1234 opened #529 "You must provide a Stripe Element or a valid token type to create a Token."
Please only file issues here that you believe represent actual bugs or feature requests for the Stripe Node library.

If you're having general trouble with your Stripe integration, please reach out to support using the form at https://support.stripe.com/ (preferred) or via email to support@stripe.com.

If you are reporting a bug, please include your Node version and the version of the Stripe Node

[2018-11-30 11:21] ob-stripe commented on #529
Hi @lephenix1234. It looks like you're trying to use [Stripe.js](https://stripe.com/docs/stripe-js), not stripe-node.

Stripe.js is our frontend library for tokenizing payment information. stripe-node is our backend library for integrating Stripe in a Node.js server.

GitHub issues on this repository are specifically for issues with the stripe-node library. You need to reach out to Stripe's suppor

[2018-11-30 11:21] #529 closed

[2018-12-05 21:31] gamsterx opened #531 "Account verification details_code (in testmode) doesn´t match documentation"
Hi,

I just wanted to let you know that I stumbled upon a tiny error/mismatch regarding the API documentation of the following property:

The documentation states:
[code]
While I was testing my implementation (livemode= false) I noticed i receive a details_code of `scan_test_mode` which does not match any of the documented codes.

[Link to documentation](https://stripe.com/docs/api/accounts/object

[2018-12-06 13:34] ob-stripe commented on #457
Hi @SimonSchick, sorry for the late reply! As of stripe-node 6.18.0, errors are exported on the root Stripe object (in addition to being exported on the client instances).

[2018-12-06 20:28] esetnik opened #532 "Transfer group is not submitted with transfers create api call"
Code example:
[code]

From stripe debugger:
[code]

[2018-12-06 22:10] remi-stripe commented on #532
@esetnik Are you sure this is the code that you are running server-side? I tried the same thing and it worked fine for me even with the last version of stripe-node (though I had to replace `5` by `amount: 5`.

[2018-12-06 22:21] esetnik commented on #532
Yes this is running server side. I’m using typescript in case it matters. By “it works” you mean the `transfer_group` is showing in the stripe dashboard for the transaction?

[2018-12-06 23:09] remi-stripe commented on #532
Yes and in the API response. I wonder if the issue is with your typescript definitions not having `transfer_group` and just ignoring it. This is not published or maintained by Stripe. Can you double check if that's the case?

[2018-12-07 00:10] esetnik commented on #532
Unfortunately the typescript definitions do have that property. I will investigate further. Thanks for your help.

[2018-12-07 16:56] njosefbeck opened #533 ""files" entity missing list (and other) methods"
Hello!

First, versions:
**Node version**: 10.13.0
**stripe-node version**: 6.18.0

OK, so I currently work on a [gatsby-source plugin](https://github.com/njosefbeck/gatsby-source-stripe) for Stripe data. When attempting to call `stripe.files.list` as explained in your docs [here](https://stripe.com/docs/api/files/list) I was getting an error that the method wasn't iterable. I found this strange,

[2018-12-07 18:21] ob-stripe commented on #532
@esetnik Does the bug happen when running the exact sample code you shared?

If the value for `transfer_group` is in fact a variable and not a hardcoded value in your code, can you double-check the contents of the variable?

[2018-12-07 18:23] esetnik commented on #532
I kept it as a hard coded value for the purposes of testing to ensure I was actually sending one. It doesn’t work for me with the exact code provided in my original bug report. The transfer is created but without the transfer group.

[2018-12-07 18:56] ob-stripe commented on #533
Hi @njosefbeck. I put together a fix in #534. We'll release an update soon. Thanks for reporting this!

[2018-12-07 19:02] #533 closed

[2018-12-07 19:04] njosefbeck commented on #533
Awesome, thanks!

[2018-12-07 19:07] ob-stripe commented on #533
Fixed in 6.18.1.

[2018-12-07 19:29] ob-stripe commented on #532
Really strange. I've checked our backend logs and can confirm that the API never received the `transfer_group` parameter for your request. However, like @remi-stripe I'm unable to reproduce the issue locally.

Do you think you could provide a minimal project to reproduce the issue?

[2018-12-07 21:41] njosefbeck commented on #533
@ob-stripe Are you by chance able to `npm install` this latest version? I've been trying to do so for the past couple of hours, with no luck. I keep getting the following error:

![screen shot 2018-12-07 at 3 39 16 pm](https://user-images.githubusercontent.com/9508002/49674087-52417680-fa36-11e8-9d2a-8554d5ea09e4.png)

I can see that npm shows version 6.18.1, so it seems like it should be there. I

[2018-12-07 21:44] remi-stripe commented on #533
I just tried and it installed the version `6.18.1` without issue at least

[2018-12-07 21:48] njosefbeck commented on #533
Yeah, I figured that'd be the case. Must be something with my local version of npm or something. I'll give it a couple days and see if it resolves itself. Thanks for confirming that someone can successfully install the new version!

[2018-12-10 22:01] AshishkrGoyal opened #536 "stripe.customers.list().autoPaginateEach() is not a function"
[code]

when i run this it give me an error that
stripe.customers.list(...).autoPagingEach is not a function..

it is working fine before some time but now it throws this error!
Please look into this !

Thanks in advance !

[2018-12-10 22:25] schinns opened #537 "stripe.invoices.voidInvoice is not a function"
Hi! I am on version _9.5.0 on node_ and _5.10.0 on stripe_.

`stripe.invoices.voidInvoice` appears in the [docs](https://stripe.com/docs/api/invoices/void), but is not available.

[2018-12-10 22:44] #537 closed

[2018-12-10 22:45] schinns commented on #537
I thought I was on the latest stripe version, but wasn't the case. Updating stripe version fixed the issue!

[2018-12-12 02:06] formatically opened #538 "Response Times"
Hello,

Before posting this question here, I chatted with Stripe Support.  I wasn't able to get a definitive answer from them so I am hoping someone can provide some insight here.

What are typical response times one can expect from the Stripe API?  I think I am getting some really poor times, but have nothing to compare them too.

A "Customers Create" request is taking on average 1.5 seconds.

[c

[2018-12-12 05:01] remi-stripe commented on #538
@formatically Sorry to send you back to support but issues should be limited to issues with the libraries itself which isn't really the case here. Our support team is better equipped to answer questions like this.

Ultimately though, some requests will be slower than others, especially if they involve talking to the bank networks. Creating a customer with a card means that we verify that card's va

[2018-12-12 05:01] #538 closed

[2018-12-18 20:40] rattrayalex-stripe commented on #536
Hi @AshishkrGoyal ,

What is the result of `console.log(require('stripe').PACKAGE_VERSION)`?

Does this fail sporadically or did it recently start failing at all times? Does it work with other API's, like `stripe.products.list().autoPagingEach(console.log)`?

[2018-12-21 19:30] fishcharlie opened #540 "Transaction Support"
It would be awesome to have support in this package to be able to make multiple requests at once with transaction support.

There are many cases where you have to make multiple Stripe calls which all represent 1 business action or something like that. If one of these requests fails all of them should fail, and no action should be taken, if all of them succeed all of them should succeed.

A great e

[2018-12-21 19:47] remi-stripe commented on #540
@fishcharlie This is definitely something we would like to support in the future but it is not on our roadmap for now unfortunately. This is not really a library feature per-se and more something we'd need to build in the API first.

Separately, for the specific example you mentioned, we also plan to support synchronous upgrade/downgrade where a charge would be attempted and the upgrade/downgrade

[2018-12-21 19:47] #540 closed

[2018-12-21 19:59] fishcharlie commented on #540
@remi-stripe Is this something I should submit a support request for as well? Or because you are aware of it, is that unnecessary? Hopefully it'll get put on your roadmap soon because it would be super useful! Thanks for your help.

[2018-12-21 20:00] remi-stripe commented on #540
@fishcharlie This is something we're already aware of so I don't think there's a need for a support ticket. To be candid I don't think this will be on the roadmap anytime soon, at least it's not something we're actively investigating today but it's definitely on our radar!

[2019-01-04 05:42] samheutmaker commented on #422
Making your own HTTP request is easy enough to do but super inconvenient. This is really something this library should support.

[2019-01-05 00:17] adamreisnz opened #541 "Expose constants"
Would it possible to expose constants on the relevant API endpoints (or in its own namespace)? For example:

[code]

This would make defining and maintaining such constants yourself unnecessary.

[2019-01-05 19:41] ob-stripe commented on #541
Hi @adamreisnz! This is a reasonable request, however our experience with other libraries has shown that it's fairly difficult to define those constants and keep them up-to-date manually. We do plan to add this in the future, but we want to do it in an automated manner.

I can't provide any ETA yet, but I'll leave this issue open and tag it as `future`. We'll update here as soon as we have somethi

[2019-01-05 20:00] adamreisnz commented on #541
Great thanks. Yes, you can imagine then how difficult it is for developers to keep the constants up-to-date and stay on top of any changes that occur. I thought if it's done in the official Stripe libraries at least it's closer to the source and probably better to have it concentrated in one place.

[2019-01-09 19:09] skylarmb commented on #346
@ayagovdik solution? You closed this issue but didn't say how you fixed it.

[2019-01-09 19:38] skylarmb commented on #346
I figured this out. We were using Winston Logger. We logged the request object right before sending it off to stripe. When you log an object with Winston, it modifies the object you pass it and adds a timestamp field to it. The object is then sent to stripe. This is just poor design on the part of Winston Logger.

[2019-01-11 05:36] Kretin1 opened #550 ""Sending credit card numbers" error when only using source or token id"
I am saving customers and their sources on my platform, and trying to create charges for my connected accounts. I am able to successfully create destination charges, but I'm having trouble with creating direct charges.

I've tried creating a token per: https://stripe.com/docs/connect/shared-customers
If I create a token using just the customer the example, the error is:
'You provided a customer wi

[2019-01-11 05:50] remi-stripe commented on #550
@Kretin1 The first error is because you are passing a hash in `source` instead of the created token id `tok_123`:
[code]

If you look at that specific request in your Dashboard [here](https://dashboard.stripe.com/test/logs/req_ZR8R351Ug6nTqH) you can see the shape of the parameters you're sending and why it's failing. It does not fail on the token creation. It fails on the Charge creation too and

[2019-01-11 05:50] #550 closed

[2019-01-11 06:35] Kretin1 commented on #550
Thank you for your help. The first error was one of the earlier ones.

Regarding the second, this is my confusion, because I'm not passing the entire source object. I'm only referencing the source ID string. Using the same source ID I can happily create Destination charges without error. However I can see that it's receiving the entire source on Stripe's end.

Can you please tell me what I can cha

[2019-01-11 06:44] Kretin1 commented on #550
Thank you so much for your help Remi,

I was confused because I was only sending a source ID string, but then I was using the whole newToken instead of just the newToken.id to create the charge. Doh!

[2019-01-17 16:28] lpgera opened #553 "Wrong id in line_item of upcoming invoice"
The result of `stripe.invoices.retrieveUpcoming` returns wrong id's for invoice items. When I call the API with curl, I get line_items with id's starting with `sli_`, but Stripe Node returns the related subscription id (`sub_...`) as the line_item id.

Node version: v8.11.3
Stripe Node version: 6.12.1 (but upgrading to 6.20.0 didn't solve the issue either)

[2019-01-17 16:41] remi-stripe commented on #553
@lpgera I don't think this can be an issue with stripe-node, it does not do anything to the data that is returned by the API.

My guess is that this is an issue with the API version on the request as we shipped a change last year in [2018-05-21](https://stripe.com/docs/upgrades#2018-05-21):

If you force a different API version in your node code you should see the unique id: https://stripe.com/doc

[2019-01-17 16:41] #553 closed

[2019-01-17 16:50] lpgera commented on #553
@remi-stripe Thanks for the quick answer!

[2019-01-22 13:15] jaynsw commented on #409
The example is wrong.The endpoint security key should be a buffer type.

let event = stripe.webhooks.constructEvent(req.body, sig, Buffer.from(endpointSecret));

[2019-01-22 13:16] jaynsw commented on #356
The example is wrong.The endpoint security key should be a buffer type.

let event = stripe.webhooks.constructEvent(req.body, sig, Buffer.from(endpointSecret));

[2019-01-22 13:34] jaynsw commented on #409
The node version is 8. My program throws error when it is string. The error is fixed after changing it to buffer Type. The stack trace is below:

TypeError: Key must be a buffer at new Hmac (crypto.js:117:16) at Object.createHmac (crypto.js:643:10) at Object._computeSignature (/node_modules/stripe/lib/Webhooks.js:24:19) at Object.verifyHeader (/node_modules/stripe/lib/Webhooks.js:55:34) at Object.

[2019-01-22 13:39] ob-stripe commented on #409
@jaynsw Node 8 also accepts strings for keys (cf. https://nodejs.org/docs/latest-v8.x/api/crypto.html#crypto_crypto_createhmac_algorithm_key_options), but I think always returns "Key must be a buffer" when the key is of an unexpected type.

Can you check the exact type of your `endpointSecret` variable? E.g. with something like `Object.prototype.toString.call(endpointSecret)`.

[2019-01-22 13:46] jaynsw commented on #409
Hi Olivier,

My code is exactly same as the example. The endpoint secret key is hard
coded in string.

The program running on docker node8-slim image.

On Wed., 23 Jan. 2019 at 12:39 am, Olivier Bellone <notifications@github.com>
wrote:

[2019-01-22 13:53] ob-stripe commented on #409
@jaynsw Do you mean the example [in this repo](https://github.com/stripe/stripe-node/blob/master/examples/webhook-signing/express.js)? If so, then what's likely happening is that the `WEBHOOK_SECRET` environment variable is not set. This would result in `webhookSecret` being undefined, which in turn causes the error message you're seeing. We could add a check for this case to return a more helpful

[2019-01-22 13:58] jaynsw commented on #409
This is the link of example.
https://stripe.com/docs/webhooks/signatures

On Wed., 23 Jan. 2019 at 12:53 am, Olivier Bellone <notifications@github.com>
wrote:

[2019-01-22 19:06] abertramds commented on #422
This would be a great addition to the library, and would really cover everything needed to complete the on-boarding of new express accounts.

[2019-01-23 07:10] AviIhej commented on #479
I am getting the same error when I try to create a customer and charge that customer:
` Error: An error occurred with our connection to Stripe`. Has anybody figured it out yet? I am running my application on localhost:3000 and I am using a graphqlQL mutation to make the API call.

[2019-01-23 07:35] dark-swordsman opened #554 "Insufficient Funds Test Card Number Validating Incorrectly"
Hi there. After clawing my eyes out, I finally think I understand whats going on.

I am using `react-stripe-checkout`, and I tried to trace the issue in the node_module, but I can't for the life of my figure out how it's using stripe.js to `createToken()`.

Anyways, I'm testing the error handling that we have in our API server, however, in test mode, trying the `4000 0000 0000 9995` card to throw

[2019-01-23 10:18] ob-stripe commented on #554
Hi @dark-swordsman. This is actually expected behavior: when creating a token with [Checkout](https://stripe.com/docs/checkout), it will validate the card with the issuing bank by running a $0 or $1 authorization. (If it succeeds, the authorization is immediately released -- nothing is actually charged!)

That's why when using the `4000 0000 0000 9995` test card is immediately declined by Checkout

[2019-01-23 10:18] #554 closed

[2019-01-23 12:18] ob-stripe commented on #479
@AviIhej `StripeConnectionError`s can be caused by a number of different things. I recommend you reach out to Stripe's support at https://support.stripe.com/email and include any relevant information in your message, such as:
- your Node.js and stripe-node versions
- timestamps of the failed requests
- full stack trace of the error

[2019-01-23 17:43] jlomas-stripe commented on #356
@jaynsw Actually, it can be [either a string or a Buffer](https://github.com/stripe/stripe-node/blob/55ebb450b2944396ad0d202891c5ae11c0d89233/lib/Webhooks.js#L31) - it doesn't matter which you use.

[2019-01-24 14:19] robz-stripe commented on #536
I see that the title here mentions `autoPaginateEach()`, which is indeed not a function. The sample code is using `autoPagingEach()` which appears to work fine in my testing with `6.20.1`.

[2019-01-24 14:26] #536 closed

[2019-01-24 14:34] robz-stripe commented on #375
Looks like this was fixed in #465.

[2019-01-24 14:34] #375 closed

[2019-01-25 21:49] #422 closed

[2019-01-25 22:19] remi-stripe commented on #422
This was released in 6.22.0! cc @die20 @samheutmaker @abertramds

[2019-01-28 21:53] suchitagarwal opened #558 "Feature request: Idempotent retries on API calls"
In our stripe integration, we sometimes get api errors (StripeAPIError or StripeConnectionError), which are most likely just transient issues and should go away if the API call is just retried. Implementing this on top of the nodejs library right now is hard because we have to manually hijack every single call to the stripe client and implement the retry ourselves.

It'd be great if when setting u

[2019-01-28 21:57] remi-stripe commented on #558
We should introduce retry logic as we did in [stripe-php](https://github.com/stripe/stripe-php/pull/428) for example. Assigning to @paulasjes-stripe who mentioned he was interested and tagging as future for now

[2019-02-02 01:13] richie3366 opened #561 "GET requests with arrays in data not handled correctly by stripe API"
I noticed (and found a workaround to solve) a bug occurring in GET requests with data containing arrays.

For example: `stripe.invoices.retrieve('upcoming', {..., subscription_items: [..., ...] })`

This will try to make a GET request with url-encoded data (in the body of the request apparently(?)), but the converted querystring doesn't* have array indexes.
* purposely, according to the commit fou

[2019-02-04 11:49] drone1 opened #563 "Reconciling "New Checkout" Session ID with Webhook Event data"
Using node stripe v6.22.0.
Node v10.4.1

I believe this issue falls somewhere in the middle of a bug or feature request.

I've scoured the docs and the web for an answer to this, and dug into event data. It's entirely possible I'm missing something obvious here, but can someone please help me understand how I can reconcile the Session ID returned from stripe.checkout.sessions.create() (with New Ch

[2019-02-04 16:10] remi-stripe commented on #563
@drone1 You can pass the parameter `client_reference_id` on Checkout Session creation. This value that you choose will be part of the event we send you once the session is completed to help you with reconciliation.

[2019-02-04 16:10] #563 closed

[2019-02-04 16:11] drone1 commented on #563
Aha!

On Mon, Feb 4, 2019 at 17:10 remi-stripe <notifications@github.com> wrote:

[2019-02-08 22:23] drone1 commented on #563
I'm testing this now with "new Checkout' and although I'm passing in a string for client_reference_id when I create the Session, no client_reference_id is present in the charge.succeeded webhook event that hits my test server.

The client_session_id does show up in the checkout_beta.session_succeeded event, but not the charge.succeeded event.

**checkout_beta.session_succeeded:** (ID= evt_1E1hfMHk

[2019-02-08 22:41] remi-stripe commented on #563
@drone1 This is expected though. The value is on the event `checkout_beta.session_succeeded` as documented here: https://stripe.com/docs/payments/checkout/api#add

[2019-02-09 08:10] drone1 commented on #563
Ah, I was looking at the wrong docs for a second there. My bad. Thank you.

[2019-02-10 06:05] abrisene commented on #561
This also appears to happen with POST requests. I discovered while trying to create products with attributes for the first time and encountered range errors.

Converting the array to an integer indexed object (as shown in the workaround posted by @richie3366) fixed the issue.

[2019-02-10 06:33] remi-stripe commented on #561
@abrisene Thanks for the extra details here and sorry for the delay on that one. We are investigating and will try to fix that next week!

[2019-02-12 03:30] rtwalz opened #564 "Cannot pass an object as an argument with stripe.invoices.retrieveUpcoming"
The Stripe docs aren't very clear (https://stripe.com/docs/api/invoices/upcoming), but if I want to pass an object of arguments on top of the customer id, the library won't let me. The first arguement won't work unless it's a string. So I pass the customer id as a string, then the second argument is the object, and third is callback. This works, but I don't think any of the parameters in the objec

[2019-02-12 03:38] rtwalz commented on #564
This was my own mistake, turned out the next invoice is not in the correct time period for some reason.

Please feel free to delete this issue.

[2019-02-12 03:38] #564 closed

[2019-02-14 01:18] #558 closed

[2019-02-14 17:58] ob-stripe commented on #561
This should be fixed in 6.25.1.

[2019-02-20 00:09] rattrayalex-stripe commented on #390
I don't think `toPlainObject` is quite right here, since that might have unexpected consequences with callbacks, which can be passed there.

I might recommend using the DefinitelyTyped types, and/or typed objects in its style (eg; https://github.com/DefinitelyTyped/DefinitelyTyped/blob/48cb1f5/types/stripe/index.d.ts#L943)

Closing for now; thanks for reporting!

[2019-02-20 00:09] #390 closed

[2019-02-22 10:11] giregk opened #569 "Format `Date` instances as UNIX timestamps in parameters"
Node version: v8.15.0
Stripe version : 6.21.0

This code does not fetch any charge
[code]

whereas this code does fetch charges that were created after `fromDateTimestamp`
[code]

I would expect the first code to return filtered values or at least log a warning saying that the created option is not supported.

[2019-02-22 10:48] giregk commented on #569
I understood my mistake: Unix Timestamp must be in seconds. I was using `new Date(fromDate).getTime()` which generates milliseconds timestamps. I suggest to update the documentation to make that clearer.

[2019-02-22 13:25] ob-stripe commented on #569
Hi @giregk. I'll pass your feedback regarding the docs.

I think it would also be nice if the library automatically formatted `Date` instances as UNIX timestamps, so you could pass them directly for timestamp parameters. We do something similar in most of our other client libraries.

[2019-02-22 13:26] ob-stripe commented on #478
Automatic retries with exponential backoff was added to the library in version [6.25.0](https://github.com/stripe/stripe-node/blob/master/CHANGELOG.md#6250---2019-02-13).

[2019-02-22 13:26] #478 closed

[2019-02-22 13:28] ob-stripe commented on #532
I'm closing this issue since we were never able to reproduce the problem, but please feel free to reply if you're still having trouble.

[2019-02-22 13:28] #532 closed

[2019-02-26 05:17] adamreisnz opened #571 "Allow updating of customer:invoicing:email_to"
I am unable to update these properties of a customer through the API:

![image](https://user-images.githubusercontent.com/490562/53389068-a8e59d80-39f2-11e9-9b65-8af60d459830.png)

The error returned is `Received unknown parameter: invoicing`
Does this error originate from the Node SDK (parameter checking) or from the API itself?

Can we add support to update these fields? I really need to be able

[2019-02-26 05:20] adamreisnz opened #572 "Unable to set invoice payment page checkbox"
It seems impossible to change the following setting when creating a subscription via the API:

![image](https://user-images.githubusercontent.com/490562/53389126-f5c97400-39f2-11e9-97ea-10f860f30245.png)

All subscriptions created via API have this checkbox unticked, but I want to enable it.
Is this an API limitation or a Node SDK limitation?

[2019-02-26 05:31] remi-stripe commented on #571
@adamreisnz Github issues should be limited to bugs with the library itself. What you're asking for is not supported in the API yet which is why you can't set them. I'd recommend raising this feedback to our support team directly [here](https://support.stripe.com/contact?email=true). It's something we're hoping to ship long term but for now this is Dashboard only.

[2019-02-26 05:31] #571 closed

[2019-02-26 05:37] remi-stripe commented on #572
@adamreisnz As far as I know you can't force this in the API today so it's similar to the other issue. I would recommend discussing this with our support team too (though I've raised it internally too).

[2019-02-26 05:37] #572 closed

[2019-02-26 05:38] adamreisnz commented on #571
Ok thank you, I wasn't sure if it was a library limitation or API limitation.

[2019-02-26 05:38] adamreisnz commented on #572
Thanks

[2019-02-28 12:06] andriko007 opened #573 "Module `http` does not exist in the Haste module map"
When I import 'stripe' I see this issue:

`error: bundling failed: Error: Unable to resolve module `http` from `./node_modules/stripe/lib/stripe.js`: Module `http` does not exist in the Haste module map`

[2019-02-28 12:26] andriko007 commented on #573
I tried to do this steps:

But it didn't help

[2019-02-28 14:15] #573 closed

[2019-02-28 14:16] andriko007 commented on #573
this is my fault, I thought that package for client side

[2019-03-02 06:11] Ramaraju1992 commented on #573
@andriko007 , i am also getting same issue while i am trying to use `var stripe = require("stripe");` ...
can you please explain me how to fix this...!
Thank you...

[2019-03-02 06:17] remi-stripe commented on #573
@Ramaraju1992 The issue likely means that you are trying to use stripe-node client-side in the browser which would not work. stripe-node is a server-side library to make API requests to Stripe.

Client-side, you should instead use [Elements](https://stripe.com/docs/stripe-js#elements) or [Checkout](https://stripe.com/docs/payments/checkout) to collect card details.

[2019-03-04 18:46] tbell511 opened #575 "Auto Pagination Rate Limiting **Question**"
Hello,

Does the auto pagination feature in stripe-node handle rate limiting? For example, can running autoPagingEach on 10000 subscriptions cause stripe to start returning the rate limit error?

Or do we need to manually account for this?

Thanks!

[2019-03-04 19:26] remi-stripe commented on #575
@tbell511 It is always possible for this to cause rate limits but that would only happen if other parts of your code are already heavily hitting the API. The auto-pagination behaviour is to do requests sequentially and you're unlikely to hit our rate limits using it.

Your code should still catch any error that this returns though!

[2019-03-04 19:26] #575 closed

[2019-03-04 19:56] chrishiestand opened #576 "library does not implement connect account token"
Trying to implement the api documentation example shown here:

https://stripe.com/docs/api/tokens/create_account?lang=node#create_account_token-account

[code]

Fails with:

Looking at the source code, I can see token implementations for card, pii, and bank account. But not for connect account tokens.

stripe npm version: 6.25.1

[2019-03-04 20:00] remi-stripe commented on #576
@chrishiestand The issue is not with the library itself here. As you can see the code runs and the request reaches Stripe. You're getting an error here because you are sending `legal_entity` which was deprecated on the latest API version [2019-02-19](https://stripe.com/docs/upgrades#2019-02-19). Instead, you would have to pass `company`, `business_profile` and such.

Don't hesitate to contact our

[2019-03-04 20:00] #576 closed

[2019-03-04 20:05] tbell511 commented on #575
Awesome, thanks!

[2019-03-04 20:07] chrishiestand commented on #576
Sorry for the false alarm and thanks for the fast reply @remi-stripe! I had assumed the documentation would automatically be updated for my latest api, but I suppose that doesn't happen, or at least not everywhere.

[2019-03-05 07:20] lorensr opened #577 "stripe.transfers.create error uncatchable?"
`stripe@6.7.0`

With the below code, when the error occurs (trying to transfer to a nonexistant destination), neither `after` nor `catching` are printed, and my server stops responding to requests.

[code]

[code]

[2019-03-05 09:03] paulasjes-stripe commented on #577
I'm unable to recreate using the following:

[code]

`catching` prints as expected here, not printing `after` is expected as the previous awaited method errors. I think this might be something to do with `Bugsnag` terminating early for some reason.

I'm closing this as I don't think it has anything to do with the Stripe Node bindings. If you're still having problems please feel free to write in to

[2019-03-05 09:03] #577 closed

[2019-03-05 20:14] zaksesti-ns8 commented on #390
We use the types internally but we don't want to expose them to others consuming our code.  I have my own paired down types.  `Customer`.  When calling `customers.create` I would expect to be able to pass in any object or class that matches the shape of the `ICustomerCreationOptions`.  Instead we get this error.

Am I understanding the concern?  We fear allowing extra data in calls to the stripe a

[2019-03-05 21:34] lorensr commented on #577
Thanks, when I remove Bugsnag, the process no longer terminates, and the catch block runs. However, I also get these warnings—do you know what that's about? The statement is inside a try catch.

[code]

[2019-03-05 22:00] lorensr commented on #577
Nevermind, figured it out—I needed to also `await` where the function containing this code was called.

[2019-03-07 10:15] steffanhalv commented on #247
@SlexAxton @ffxsam I don't get it, is this still possible or was this deprecated with Stripe.js v2?

Is it actually possible to collect the card information client side and pass to elements or the latest Stripe.js without to be PCI Compliant?

[2019-03-07 16:29] ob-stripe commented on #247
@steffanhalv You should be using either [Checkout](https://stripe.com/docs/checkout) or [Stripe.js / Elements](https://stripe.com/docs/stripe-js) to collect and tokenize payment information client-side.

Note that GitHub issues are specifically for bugs or feature requests regarding Stripe's Node.js library and are not a support channel. I recommend you reach out to Stripe's support at https://sup

[2019-03-09 15:36] chrisschaub commented on #440
I am seeing this same exact behaviour. Declines work fine, even in test, and there is nothing special about this order versus other declines. But occassionally, a declined charge will crash node, and I am trapping for errors, so the crash is happening before I can get it. I'm guessing an error object is being sent by Stripe that is different or malformed, so the library might hard crash. I am usin

[2019-03-11 16:36] #569 closed

[2019-03-11 16:39] ob-stripe commented on #569
As of v6.26.0, you can now pass `Date` instances directly in request parameters, and the library will automatically encode them as Unix timestamps.

[2019-03-13 15:25] mfloriani opened #579 "Failing behind http proxy"
I am trying to use the library from behind a http proxy according to the documentation.
Here the code I used to test the lib (secret key and proxy were hidden on purpose):

[code]

But running the code above I get the error below:

[code]

After some time trying different things I decided to change the following function inside the `stripe.js` file:
https://github.com/stripe/stripe-node/blob/44fd7

[2019-03-13 16:44] Charliekenney23 commented on #360
@remi-stripe What would an appropriate path for adding this stripe method? Should this be in a connect namespace, or maybe just `Stripe.OAuth.connectToken`?

[2019-03-13 23:01] fred-stripe commented on #579
Hi there, the error message that was wrapped indicates that your proxy server wasn't able to resolve the DNS for `api.stripe.com`. I'm not certain why the change you made would cause things to start working, but before we go further can you confirm your proxy's behavior using `curl`? Running the following command will get you the entire proxy response and also the Stripe response:

```curl -iv htt

[2019-03-14 09:18] mfloriani commented on #579
Hi @fred-stripe ,

Here it is the response from the curl you gave me:

[code]

[2019-03-14 17:25] ob-stripe commented on #579
Hi @mfloriani, thanks for reporting this. We recently broke support for HTTPS proxies when we enabled persistent connections by default in #560. A fix will be released soon. Sorry for the inconvenience!

[2019-03-14 17:36] #579 closed

[2019-03-14 17:39] ob-stripe commented on #579
Fixed in 6.26.1.

[2019-03-20 22:12] jlopez994 opened #582 "Subscriptions: Invalid parameter "default_source""
Hello, I'm trying to create a subscription for a customer with a different payment source. The problem is the parameter "default_source" doesn't exist in the interface "ISubscriptionCreationOptions". Instead there is another one called source which doesn't exist in Stripe API so I get this error when I try it: "Received unknown parameter: source".

If you check the Stripe API you can check it out.

[2019-03-20 22:15] remi-stripe commented on #582
@jlopez994 The `SubscriptionCreationOptions` class inherits from `SubscriptionSharedOptions` which supports `DefaultSource` so you should be able to set it as expected in your code!

[2019-03-20 22:15] #582 closed

[2019-03-21 13:47] mebibou commented on #341
What about allowing json in `constructEvent`? wouldn't it just solve everyone's problems?

[2019-03-21 15:21] ob-stripe commented on #341
@mebibou No, the signature verification needs the raw body as a text string. Reserializing already deserialized JSON back into a text string doesn't work as the resulting string might be different (key order is not guaranteed, indentation might be different, etc.).

[2019-03-24 08:15] Rc85 opened #583 "account.updated don't have previous_attributes"
API version 2019-03-14

Without the previous_attributes field, how do we know what is updated?

[2019-03-24 15:53] remi-stripe commented on #583
@Rc85 Github issues should be limited to bugs with the library itself. This looks like an integration question though so I would recommend contacting our support team instead: https://support.stripe.com/contact

[2019-03-24 15:53] #583 closed

[2019-03-27 00:35] Casen commented on #369
@remi-stripe after a lot of headaches and desire to throw my computer through a window, I have found this thread. In node, I have used the method you outlined earlier: client posts card details retrieves token, token sent back to server, and server adds card to customer

[code]

When I do this, I receive the following error:
[code]

Obviously... source is a string.... a token.... I am not sending

[2019-03-27 00:55] Casen commented on #369
*UPDATE*
As it turns out, a mysterious validation function coerced the token string into an object. When I logged the data, the object prints as a string.... what a shit show. Sorry for the false alarm.

[2019-03-27 03:58] Rc85 opened #584 "Connect: Multiple bank account as default for currency"
API version: 2019-03-14

Not sure if this was intended. If I have multiple bank accounts on a Connect account, they can both be default for currency.

To replicate this, add a bank account without the default_for_currency set (it's default to true). Repeat and both bank accounts will have default_for_currency set to true.

[2019-03-27 04:04] paulasjes-stripe commented on #584
This isn't an issue related to the Stripe Node bindings but instead an API question. Would you mind contacting Stripe support directly with this? https://support.stripe.com/contact

[2019-03-27 04:04] #584 closed

[2019-03-27 15:31] remi-stripe commented on #369
@Casen Glad you were able to figure this out :)

[2019-03-31 09:21] sseppola opened #586 "Docs: Email in token object"
Hi,

I'm setting up Checkout to handle payment for a site I'm building. When creating the charge from the backend I want to send a receipt to the user, however the TS definition of the token object does not include the `token.email` property even though it exists in the returned token object.

The TS definitions themselves are trivial to update, the problem is that your docs also do not specify th

[2019-03-31 17:25] remi-stripe commented on #586
@sseppola When you use Checkout, we automatically submit the token id `tok_123` in `stripeToken` and the email address in `stripeEmail`. This means that you don't have to try and fetch it from the `Token` object, and it's already accessible directly

If you use Custom Checkout, we recommend that you explicitly submit the email and and the token id to your back-end instead of submitting the entire

[2019-03-31 17:25] #586 closed

[2019-04-03 09:25] ajaykumar97 opened #587 "Feature request: add bank details requirements in stripe.countrySpecs.list() and stripe.countrySpecs.retrieve() functions"
Please add ``bank details requirements `` in ``stripe.countrySpecs.list()`` and ``stripe.countrySpecs.retrieve()`` functions so as to know the Minimum bank account requirements for a particular country like as provided in the link [https://stripe.com/docs/payouts](https://stripe.com/docs/payouts).

Currently, we are getting the response object like:
[code]

Please add other information about a par

[2019-04-03 14:48] remi-stripe commented on #587
@ajaykumar97 Github issues should be limited to bugs within the library itself. The library today returns what the API supports which is why non of this is returned.

I'm not convinced this would work as naming it really particular to a given country and ultimately maps to the same field and you'd want that information in the country's language in a lot of cases.

I'd recommend following up with o

[2019-04-03 14:48] #587 closed

[2019-04-19 19:17] davidkhayutin opened #590 "Received unknown parameter: transfer_data[destination]"
I'm hoping someone can help me.  I am using stripe in Canada. I am doing a stripe charge without doing a capture. Afterward, when I process the charge I add in the transfer_data[destination] while doing the charge.capture as per the docs. In the docs, it says that in this transfer_data object you can pass in a destination attribute. Yet every time I try I am met with the error

Error: Received unk

[2019-04-19 19:24] remi-stripe commented on #590
@davidkhayutin Today, it is not possible to set `transfer_data[destination]` when capturing a Charge. This is not a supported parameter as you can see here: https://stripe.com/docs/api/charges/capture#capture_charge-transfer_data

[2019-04-19 19:25] #590 closed

[2019-04-19 20:39] reacuna opened #591 "Feature request: Allow retrieveUpcoming to use only the subscription"
According the the [docs for version 2019-03-14](https://stripe.com/docs/api/invoices/upcoming?lang=curl#upcoming_invoice-customer) (maybe earlier, I'm not sure), the customer parameter is required only if the subscription parameter is not set.
The implementation however, always uses the first parameter as the customer id: https://github.com/stripe/stripe-node/blob/8b2c36cf2b9ae9d336867293beb4c308c

[2019-04-19 20:44] remi-stripe commented on #591
@reacuna Thanks a lot for the report. I had no idea we hardcoded the customer id in the query params. We'll work on a fix!

[2019-04-19 20:55] davidkhayutin commented on #590
is it possible to transfer a charge that has not been captured, like a pre-authorization where capture is set to false

[2019-04-19 20:59] remi-stripe commented on #590
@davidkhayutin It is possible using the flow I mentioned above. You would capture the Charge first _and then_ transfer the funds to the connected account.

I'd recommend reaching out to our support team if you have questions about this flow as they would be better equipped to help clarify. Github issues are limited to bugs in the library itself.

You can contact them here: https://support.stripe.c

[2019-04-19 20:59] davidkhayutin opened #592 "transfer a charge with capture set to false?"
is it possible to transer an issue with the capture being set to false?

Creating Separate Charges and Transfers  s in Public Beta, is it available in canada?

[2019-04-19 21:00] #592 closed

[2019-04-19 22:56] codinronan opened #594 "Caught exceptions still take down server"
Hi there,

So I did search the repo for this issue but it seems it's only been reported once or twice, and either was marked fixed or the reporter never replied again.

I have what seems to be a basic issue with catching exceptions thrown by Stripe requests. First, the needful:

Node: 10.12
Stripe: 6.28.0

Ok so first of all this is the offending piece of code.

We had a configuration error this m

[2019-04-19 23:05] ob-stripe commented on #594
Hi @codinronan. I don't think this is an issue with stripe-node itself. As you noticed, the exception is caught and handled.

"Exit status 137" indicates that the process was killed by the Linux kernel because the server was running out of memory. Maybe there's a memory leak in your code or one of your third-party modules, that only occur when processing an error?

[2019-04-19 23:15] codinronan commented on #594
@ob-stripe Hey there thanks for replying. Yeah, it doesn't make any sense. JS doesn't change the rules on the fly.

I'm going to disable the other modules and report back - will let you know...

[2019-04-19 23:17] ob-stripe commented on #594
I would also recommend monitoring memory usage in your tests, to confirm this is an OOM error.

[2019-04-20 07:36] marbuser opened #595 "Webhook Signature becomes invalid when using a sub-route."
Node Version: 11.14.0
Stripe Node Version: 6.29.0

Consider the code below, simplified for explanation sake. (No imports, etc...);
[code]
[code]

And here is my dashboard setup for webhooks;
- `checkout.session.completed` on the direct route.
- `charge.refunded` on the refund sub-route.
![image](https://user-images.githubusercontent.com/34422459/56454330-7ec0b400-6381-11e9-9eec-2f83b7985712.png)

[2019-04-21 13:21] marbuser commented on #595
Feel like an idiot. Completely forgot you need to use a different webhook key for each route. 🤦‍♂️

[2019-04-21 13:21] #595 closed

[2019-04-21 22:16] remi-stripe commented on #595
@marbuser Thanks for closing the loop, and I'm glad you were able to figure that one out after all :)

[2019-04-22 16:47] codinronan commented on #594
@ob-stripe Following up on this:

I check if OOM was the crash reason and it wasn't.

What I did find was an error in my route handling that meant for certain kinds of errors (including this one) there was no error route defined, which meant that Express would use its default one. Since the error object thrown is not a normal error, it looks like there's a hard crash somewhere in Express itself (t

[2019-04-22 16:56] ob-stripe commented on #594
Thanks for the followup! I'm glad you were able to fix the issue.

[2019-04-22 16:56] #594 closed

[2019-04-22 20:46] UniWrighte opened #596 "Error: Received unknown parameter: requested_capabilities for stripe.accounts.create"
I'm receiving this error:

`error: Error: Received unknown parameter: requested_capabilities`

when, directly from the documentation, running this code:

`stripe.accounts.create({
  	type: 'custom',
  	country: 'US',
  	email: 'bob@example.com',
  	requested_capabilities: ['card_payments']
	});`

On the newest version of the library. I'm returning it and handling it as a promise on node 11.

It ap

[2019-04-22 20:48] remi-stripe commented on #596
@UniWrighte `requested_capabilities` is a parameter that was added in API version [2019-02-19](https://stripe.com/docs/upgrades#2019-02-19). You get that error because your account is on an older API version and you haven't forced it in the library. You should pin to a version as documented [here](https://stripe.com/docs/api#versioning)

[2019-04-22 20:48] #596 closed

[2019-04-22 20:59] UniWrighte commented on #596
Thank you for the quick response. It slipped past me because I'm using my old account to test for a recently opened account of one of my clients.

Best wishes

[2019-04-22 23:46] #591 closed

[2019-04-22 23:51] remi-stripe commented on #591
@reacuna This was fixed in stripe-node 6.30.0!

[2019-04-28 22:53] tatethurston opened #601 "Export generateHeaderString or similar testing utility"
When writing an automated test case to test processing a Stripe webhook, I needed to copy the `generateHeaderString` function (found here: https://github.com/stripe/stripe-node/blob/57d5f09b13973f2134326dabd99762bd66de3bf2/test/Webhook.spec.js#L140).

It would be great to provide this as an exported module, and include a brief example in the readme using it to write tests against a webhook endpoin

[2019-05-02 08:38] yaroslavyal opened #603 "[Typescript] The object "paymentMethods" is missed on definition types"
Hi! I'm using @types/stripe with version 6.25.11. And there is no object "paymentMethods" in Stripe instance.

[2019-05-02 09:12] paulasjes-stripe commented on #603
Those types are maintained on the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) repo instead of here. You're probably better off creating the issue there as this isn't an issue with the stripe-node library.

[2019-05-02 09:12] #603 closed

[2019-05-02 09:21] yaroslavyal commented on #603
Thanks, related with issue [#35155](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/35155)

[2019-05-03 18:41] tbell511 opened #605 "Tax Rates"
I noticed that the node client doesn't support tax rates yet.

- Create a tax rate
- Retrieve a tax rate
- Update a tax rate
- List all tax rates

Any ideas on a timeframe?

[2019-05-03 18:44] robz-stripe commented on #605
Support was added in https://github.com/stripe/stripe-node/commit/a1c629be41c0e6adeb02d898ccc617dddf18da48

Our API docs also have Node examples, e.g. https://stripe.com/docs/api/tax_rates/create?lang=node

[2019-05-03 18:46] robz-stripe commented on #605
(you'd need to be using at least https://github.com/stripe/stripe-node/releases/tag/v6.31.0 which is when that commit was released)

[2019-05-03 18:55] robz-stripe commented on #605
Closing again since support is there and nothing additional is needed on the repo side.

[2019-05-03 18:55] #605 closed

[2019-05-03 19:08] tbell511 commented on #605
Awesome, thank you.

[2019-05-08 09:00] #601 closed

[2019-05-08 09:39] paulasjes-stripe commented on #601
Hi there, this should be exposed and ready for use in the next release!

[2019-05-08 15:51] schester44 opened #616 "Cannot find module '../testUtils'"
Related to PR #609.

I believe the testUtils folder needs whitelisted in .npmignore.

[2019-05-08 15:54] remi-stripe commented on #616
@schester44 Thanks for the heads up, we're working on a fix.

[2019-05-08 16:00] adrai opened #618 "customer has no cards or sources"
Directly in the stripe UI I can see the customers cards as expected.
But when fetching via the library I always get empty cards or sources:

[code]

[2019-05-08 16:29] remi-stripe commented on #618
@adrai It looks like you are using PaymentMethods today and not Cards or Sources. Those are entirely separate objects but PaymentMethods are the newer one and a better integration path.

To list PaymentMethods on a Customer you have to use a dedicated API for this: https://stripe.com/docs/api/payment_methods/list

Closing this as it's not a bug with the library but don't hesitate to reach out to o

[2019-05-08 16:29] #618 closed

[2019-05-08 16:36] rattrayalex-stripe commented on #616
We've pulled the 6.33.0 release from npm. We expect to have a fixed version up shortly, but until then, if you encounter this, please reinstall to get 6.32.0.

[2019-05-08 17:17] adrai commented on #618
thx for the hint

[2019-05-08 21:32] rattrayalex-stripe commented on #616
6.34.0 has been released, addressing this issue.

Thanks so much for reporting, and apologies for the trouble caused!

[2019-05-08 21:32] #616 closed

[2019-05-14 20:11] catamphetamine commented on #356
@mcrider Don't forget the single quote escaping, otherwise it will throw `400 Bad Request`.
https://forums.aws.amazon.com/thread.jspa?messageID=900916&#900916
[code]

[2019-05-17 10:40] pitops opened #628 "Cannot get to "requires_action" path after "requires_payment_method""
I am going through the subscriptions integration. I am at the point of integrating 3D-secure authentication path [outcome 4](https://stripe.com/docs/billing/subscriptions/payment#handling-action-required)

If I input a 3D-secure card first time - it works fine.

However, If the first card I use fails (4000000000000341) and the subscription has status `incomplete` with `requires_payment_method` and

[2019-05-17 12:11] paulasjes-stripe commented on #628
Hi there, this looks like an integration issue with the Stripe API rather than a problem with the stripe-node bindings.

I suggest writing into Stripe support with details on your issue at https://support.stripe.com/contact

[2019-05-17 12:11] #628 closed

[2019-05-17 12:34] pitops commented on #628
ok thank you

[2019-05-22 03:21] mclark-newvistas opened #630 "`autoPagingToArray` is not a function off of `stripe.invoices.listLineItems`"
`invoice.lines.data = await stripe.invoices.listLineItems(invoice.id, { limit: 100 }).autoPagingToArray({ limit: 1000 });` - "TypeError: stripe.invoices.listLineItems(...).autoPagingToArray is not a function" - same w/`autoPagingEach`.

[2019-05-22 03:27] mclark-newvistas commented on #630
I'd changed which file I'd intended to test it in, not realizing I'd saved the prior file. The error was generated by the other file.

[2019-05-22 03:28] mclark-newvistas commented on #630
Sigh - and it incidentally doesn't work at all off of `listLineItems` anyway :P.

[2019-05-22 04:50] ob-stripe commented on #630
@rattrayalex-stripe Can you take a look?

[2019-05-22 05:40] paulasjes-stripe commented on #630
I think it might just be a case of adding `methodType: 'list'` here: https://github.com/stripe/stripe-node/blob/master/lib/resources/Invoices.js#L21-L24

[2019-05-22 17:58] ob-stripe commented on #630
Oops, yeah, that's probably it. Thanks Paul!

[2019-05-22 20:39] rattrayalex-stripe commented on #630
Oops, sorry @ob-stripe - did not get a ping for this.

[2019-05-22 21:18] #630 closed

[2019-05-22 21:20] ob-stripe commented on #630
@mclark-newvistas This should be fixed in version 7.0.1.

[2019-05-24 12:27] mcousillas6 opened #633 "Issue when creating plans on connected accounts"
Node version: `10.5.3`.
Stripe-node version: `6.28.0`.

I'm having issues with the following api call:
[code]
If I understood correctly, this should create a product and plan on the user's connected account, since i'm using the header authentication.

The issue is that The product and plan are getting created on my stripe account every time.
Am I missing something?

[2019-05-24 17:21] lppdev commented on #149
Purchases are going through just fine, but I am getting these in my inbox still, "...a similar object exists in test mode, but a live mode key was used to make this request."

[2019-05-24 17:32] ob-stripe commented on #149
@lppdev This is almost definitely an issue with your integration, not the stripe-node library. You should reach out to support at https://support.stripe.com/email and provide as much information as you can, like the exact times this error occurs and/or request IDs.

[2019-05-26 09:11] ob-stripe commented on #633
Hi @mcousillas6. This code looks correct to me and should do what you expect.

The most likely explanation is that the `stripe_account` variable contains the ID of your platform's account instead of the connected account.

You should reach out to Stripe's support at https://support.stripe.com/email and include information about the request, such as the exact time the request was sent or the reques

[2019-05-26 09:11] #633 closed

[2019-05-30 17:15] kurry421 commented on #341
for anyone still struggling... this is what worked for me.
[code]

[2019-05-31 11:13] LabN36 commented on #628
@pitops hey were you able to resolve this issue ? I'm facing the same issue.

[2019-05-31 11:42] pitops commented on #628
@LabN36 I talked extensively with Stripe Support and they do not seem to understand this is an issue either with their documentation or in general, its like talking to robots.

The error `invoice_payment_intent_requires_action` is not documentedin their error codes. I told them so but to no avail so I gave up and rolled my own solution.

What I did was store the `payment_intent` in the db the firs

[2019-05-31 11:48] LabN36 commented on #628
@pitops Hey thanks for reply i understand the pain with stripe support.

but on the frontend side in order to show the 3D modal we require client_secret which we pass to `stripe.handleCardPayment(client_token)` method isn't it ?

also when we create subscription which has payment failure then stripe does not provide any payment intent in response.

what i did on my side is i called `stripe.payment

[2019-05-31 12:02] pitops commented on #628
@LabN36 you can always get the payment intent even if the subscription failed using this piece of code (notice the expand)

[code]

[2019-05-31 12:21] Taakn opened #635 "Error starting app"
Hello,

I am getting the following error (node 8.4, stripe 7.1.0):

[code]

Thanks for your help

[2019-05-31 15:47] rattrayalex-stripe commented on #635
Hi @Taakn – can you double check your Node version?
I see this with Node 8.4.0:
[code]
Can you also share the line of your code that triggered this?

[2019-06-01 07:51] Taakn commented on #635
Hi @rattrayalex-stripe thanks for your help. It's not a big deal since 6.36.0 is working but yes typing the lines you provided above gives the same result. The line that triggers it is:

`const stripe = require('stripe')(client_secret);`

[2019-06-01 10:28] Taakn opened #636 "Error payment_methods"
Hello,

I am migrating from the charges API to the payment intent API for 3D Secure. I am using Stripe API 6.36.0 and node 8.4

Initial request from the Stripe Dashboard:
POST Request /v1/payment_methods
[code]

Response body:
[code]

Followed by POST request /v1/payment_intents
[code]

And 400 Response:
[code]

Can't understand why the payment method is being denied since it's confirmed just abov

[2019-06-01 16:31] giorgio80 opened #637 "use_stripe_sdk. when creating a paymenintent"
hello.
having a connect platform with node js backend and iOS in front.

actually I'm asking customer account and cards object in my db.   I'm migrating to new payment intents.    So the iOS app call the function that create the payment intents as destination charge and putting on the fee  and passing the confirm = true as parameter.

[code]

I then pass back the payment intent to the app who gonn

[2019-06-01 16:46] giorgio80 commented on #637
also,  is this case going into here?:

https://stripe.com/en-it/guides/strong-customer-authentication#merchant-initiated-transactions-including-variable-subscriptions

[2019-06-01 19:47] ob-stripe commented on #637
Hi @giorgio80. You're probably using the `4000 0000 0000 3220` test card number described here: https://stripe.com/docs/testing#three-ds-cards. This test number forces the use 3DSv2.

In any case, this behavior is caused by the API, not the stripe-node library. GitHub issues are not a support channel for Stripe's API so we cannot help you here. Please reach out to Stripe's support at https://suppo

[2019-06-01 19:47] #637 closed

[2019-06-02 00:25] giorgio80 commented on #637
ok, gonna go to support for that.
btw , why are you asking me about 3dsv2? I'm effectively using this card as I need to implement 3dsv2 strong authentication. it is unsupported by node?

thanks

[2019-06-03 04:49] ob-stripe commented on #637
It is supported, I simply meant that the issue you described sounds like the expected behavior to me. I'm not very familiar with the Payment Intents API though, support will be able to clarify if that's the case or not.

[2019-06-03 11:14] adriaanvanrossum opened #638 "Feature request: Retrieve multipe objects by IDs"
I would be create to do this:

[code]

Instead of this:

[code]

[2019-06-03 23:10] rattrayalex-stripe commented on #635
Hi @Taakn ,

Can you verify your node version? We no longer support Node 4, 5, or 7.

eg;
[code]

It [looks like](https://runkit.com/rattrayalex-stripe/5cf59556b975d2001a4eb03c) that line of code works in Node 8.

Sorry for the trouble – I'll take a look at throwing a more proactive, useful error message.